In [1]:
import pandas as pd
import numpy as np

In [300]:
data = pd.read_csv('C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_summer_2013.csv')

In [301]:
list_of_interest = ['Adversity', 'Affluent', 'Comfortable']

In [302]:
len(data)

163392

In [303]:
# selecting only Acorns of interest - dropping incomplete data
data = data[data['Acorn_grouped'].isin(stk_list)]

In [304]:
len(data)

150144

In [305]:
data.head()

,DateTime,Acorn,Acorn_grouped,stdorToU,KWH/hh (per half hour),LCLid
1,2013-06-01 00:00:00,ACORN-A,Affluent,Std,0.252991,114
2,2013-06-01 00:00:00,ACORN-A,Affluent,ToU,0.227838,37
3,2013-06-01 00:00:00,ACORN-B,Affluent,Std,0.133300,20
4,2013-06-01 00:00:00,ACORN-B,Affluent,ToU,0.091500,4
5,2013-06-01 00:00:00,ACORN-C,Affluent,Std,0.154395,114

In [306]:
data.drop(['stdorToU'], axis=1, inplace=True)
data.drop(['Acorn'], axis=1, inplace=True)

In [307]:
data.head()

              DateTime Acorn_grouped  KWH/hh (per half hour)   LCLid
1  2013-06-01 00:00:00      Affluent                 0.252991    114
2  2013-06-01 00:00:00      Affluent                 0.227838     37
3  2013-06-01 00:00:00      Affluent                 0.133300     20
4  2013-06-01 00:00:00      Affluent                 0.091500      4
5  2013-06-01 00:00:00      Affluent                 0.154395    114

In [308]:
data['energy_sum'] = data['KWH/hh (per half hour) ']*data.LCLid

In [309]:
data.head(6)

,DateTime,Acorn_grouped,KWH/hh (per half hour),LCLid,energy_sum
1,2013-06-01 00:00:00,Affluent,0.252991,114,28.841
2,2013-06-01 00:00:00,Affluent,0.227838,37,8.430
3,2013-06-01 00:00:00,Affluent,0.133300,20,2.666
4,2013-06-01 00:00:00,Affluent,0.091500,4,0.366
5,2013-06-01 00:00:00,Affluent,0.154395,114,17.601
6,2013-06-01 00:00:00,Affluent,0.125848,33,4.153

In [310]:
data = data.groupby(['DateTime', 'Acorn_grouped']).sum()

In [311]:
data.head(12)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-06-01 00:00:00 Adversity                     1.848491   1744     233.653
                    Affluent                      1.589097   2094     341.494
                    Comfortable                   1.498934   1464     219.039
2013-06-01 00:30:00 Adversity                     1.661151   1741     211.820
                    Affluent                      1.475531   2097     305.004
                    Comfortable                   1.285337   1465     190.313
2013-06-01 01:00:00 Adversity                     1.468235   1741     190.076
                    Affluent                      1.341888   2097     279.430
                    Comfortable                   1.113689   1465     168.267
2013-06-01 01:30:00 Adversity                     1.316141   1741     172.103
                    Affluent                      1.322733   2098     263.709
                    Comfortable                   1.066189   1465     156.964

In [312]:
data['KWH/hh (per half hour) '] = data.energy_sum / data.LCLid

In [313]:
data.head(32)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-06-01 00:00:00 Adversity                     0.133975   1744     233.653
                    Affluent                      0.163082   2094     341.494
                    Comfortable                   0.149617   1464     219.039
2013-06-01 00:30:00 Adversity                     0.121666   1741     211.820
                    Affluent                      0.145448   2097     305.004
                    Comfortable                   0.129906   1465     190.313
2013-06-01 01:00:00 Adversity                     0.109176   1741     190.076
                    Affluent                      0.133252   2097     279.430
                    Comfortable                   0.114858   1465     168.267
2013-06-01 01:30:00 Adversity                     0.098853   1741     172.103
                    Affluent                      0.125695   2098     263.709
                    Comfortable                   0.107143   1465     156.964
2013-06-01 02:00:00 Adversity                     0.090982   1741     158.400
                    Affluent                      0.119745   2098     251.224
                    Comfortable                   0.098397   1465     144.151
2013-06-01 02:30:00 Adversity                     0.088407   1741     153.917
                    Affluent                      0.114816   2098     240.885
                    Comfortable                   0.097484   1465     142.814
2013-06-01 03:00:00 Adversity                     0.086038   1741     149.792
                    Affluent                      0.112292   2098     235.589
                    Comfortable                   0.095969   1465     140.595
2013-06-01 03:30:00 Adversity                     0.084352   1741     146.856
                    Affluent                      0.109898   2098     230.566
                    Comfortable                   0.095129   1465     139.364
2013-06-01 04:00:00 Adversity                     0.084625   1741     147.332
                    Affluent                      0.110347   2098     231.509
                    Comfortable                   0.096157   1465     140.870
2013-06-01 04:30:00 Adversity                     0.084956   1741     147.908
                    Affluent                      0.116328   2098     244.056
                    Comfortable                   0.097427   1465     142.730
2013-06-01 05:00:00 Adversity                     0.092357   1741     160.794
                    Affluent                      0.120612   2098     253.045

In [222]:
"""# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=data.loc[x.index, "LCLid"])

# Define a dictionary with the functions to apply for a given column:
f = {'KWH/hh (per half hour) ': wm}

# Groupby and aggregate with your dictionary:
data = data.groupby(["DateTime", "Acorn_grouped"]).agg(f)

data.head()

#grouped_nrg_1314.groupby('Acorn_grouped').aggregate?"""

                                   KWH/hh (per half hour)
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885
                    Affluent                      0.284734
                    Comfortable                   0.244850
2013-01-01 00:30:00 Adversity                     0.203020
                    Affluent                      0.260838

In [195]:
data['KWH/hh (per half hour) '] = data.energy_sum / data.LCLid

In [286]:
data.head(6)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-06-01 00:00:00 Adversity                     0.133975   1744     233.653
                    Affluent                      0.163082   2094     341.494
                    Comfortable                   0.149617   1464     219.039
2013-06-01 00:30:00 Adversity                     0.121666   1741     211.820
                    Affluent                      0.145448   2097     305.004
                    Comfortable                   0.129906   1465     190.313

In [287]:
len(data)

13248

In [314]:
for n,i in enumerate(data.index):
    if i[0][-5:-3] == '30':
        if len(data) - n > 3:
            data.energy_sum[n+3] = data.energy_sum[n+3] + data.energy_sum[n]

C:\Users\Hrafnkell\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [315]:
data.head(32)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-06-01 00:00:00 Adversity                     0.133975   1744     233.653
                    Affluent                      0.163082   2094     341.494
                    Comfortable                   0.149617   1464     219.039
2013-06-01 00:30:00 Adversity                     0.121666   1741     211.820
                    Affluent                      0.145448   2097     305.004
                    Comfortable                   0.129906   1465     190.313
2013-06-01 01:00:00 Adversity                     0.109176   1741     401.896
                    Affluent                      0.133252   2097     584.434
                    Comfortable                   0.114858   1465     358.580
2013-06-01 01:30:00 Adversity                     0.098853   1741     172.103
                    Affluent                      0.125695   2098     263.709
                    Comfortable                   0.107143   1465     156.964
2013-06-01 02:00:00 Adversity                     0.090982   1741     330.503
                    Affluent                      0.119745   2098     514.933
                    Comfortable                   0.098397   1465     301.115
2013-06-01 02:30:00 Adversity                     0.088407   1741     153.917
                    Affluent                      0.114816   2098     240.885
                    Comfortable                   0.097484   1465     142.814
2013-06-01 03:00:00 Adversity                     0.086038   1741     303.709
                    Affluent                      0.112292   2098     476.474
                    Comfortable                   0.095969   1465     283.409
2013-06-01 03:30:00 Adversity                     0.084352   1741     146.856
                    Affluent                      0.109898   2098     230.566
                    Comfortable                   0.095129   1465     139.364
2013-06-01 04:00:00 Adversity                     0.084625   1741     294.188
                    Affluent                      0.110347   2098     462.075
                    Comfortable                   0.096157   1465     280.234
2013-06-01 04:30:00 Adversity                     0.084956   1741     147.908
                    Affluent                      0.116328   2098     244.056
                    Comfortable                   0.097427   1465     142.730
2013-06-01 05:00:00 Adversity                     0.092357   1741     308.702
                    Affluent                      0.120612   2098     497.101

In [261]:
data.head(32)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-06-01 00:00:00 Adversity                     0.133975   1744     233.653
                    Affluent                      0.163082   2094     341.494
                    Comfortable                   0.149617   1464     219.039
2013-06-01 00:30:00 Adversity                     0.121666   1741     211.820
                    Affluent                      0.145448   2097     305.004
                    Comfortable                   0.129906   1465     190.313
2013-06-01 01:00:00 Adversity                     0.109176   1741     190.076
                    Affluent                      0.133252   2097     279.430
                    Comfortable                   0.114858   1465     168.267
2013-06-01 01:30:00 Adversity                     0.098853   1741     172.103
                    Affluent                      0.125695   2098     263.709
                    Comfortable                   0.107143   1465     156.964
2013-06-01 02:00:00 Adversity                     0.090982   1741     158.400
                    Affluent                      0.119745   2098     251.224
                    Comfortable                   0.098397   1465     144.151
2013-06-01 02:30:00 Adversity                     0.088407   1741     153.917
                    Affluent                      0.114816   2098     240.885
                    Comfortable                   0.097484   1465     142.814
2013-06-01 03:00:00 Adversity                     0.086038   1741     149.792
                    Affluent                      0.112292   2098     235.589
                    Comfortable                   0.095969   1465     140.595
2013-06-01 03:30:00 Adversity                     0.084352   1741     146.856
                    Affluent                      0.109898   2098     230.566
                    Comfortable                   0.095129   1465     139.364
2013-06-01 04:00:00 Adversity                     0.084625   1741     147.332
                    Affluent                      0.110347   2098     231.509
                    Comfortable                   0.096157   1465     140.870
2013-06-01 04:30:00 Adversity                     0.084956   1741     147.908
                    Affluent                      0.116328   2098     244.056
                    Comfortable                   0.097427   1465     142.730
2013-06-01 05:00:00 Adversity                     0.092357   1741     160.794
                    Affluent                      0.120612   2098     253.045

In [316]:
for i in data.index:
    if i[0][-5:-3] == '30':
        data.drop(i, inplace=True)

In [318]:
data_hourly = data

In [156]:
# adding :30 data to :00 data
# this loop takes a while
def calc_hourly(df):
    for n,i in enumerate(df.index):
        if i[0][-5:-3] == '30':
            if len(df) - n > 6:  
                df.energy_sum[n+6] = df.energy_sum[n+6] + df.energy_sum[n]
    return df
            
# dropping :30 data
# this loop (predictably) also takes a while
def drop_half_hour(df):
    for i in df.index:
        if i[0][-5:-3] == '30':
            df.drop(i, inplace=True)
    return df

In [52]:
data.tail(12)

                                            KWH/hh (per half hour)   LCLid  \
DateTime            Acorn_grouped stdorToU
2012-03-31 23:00:00 Adversity     Std                      0.156160    269
                                  ToU                      0.162066     44
                    Affluent      Std                      0.214208    540
                                  ToU                      0.203554    113
                    Comfortable   Std                      0.153119    211
                                  ToU                      0.212259     49
2012-03-31 23:30:00 Adversity     Std                      0.146916    269
                                  ToU                      0.176337     44
                    Affluent      Std                      0.202857    540
                                  ToU                      0.179605    113
                    Comfortable   Std                      0.133600    211
                                  ToU                      0.181256     49

                                            energy_sum
DateTime            Acorn_grouped stdorToU
2012-03-31 23:00:00 Adversity     Std        42.007052
                                  ToU         7.130900
                    Affluent      Std       115.672533
                                  ToU        23.001567
                    Comfortable   Std        32.308005
                                  ToU        10.400701
2012-03-31 23:30:00 Adversity     Std        39.520393
                                  ToU         7.758833
                    Affluent      Std       109.542588
                                  ToU        20.295406
                    Comfortable   Std        28.189589
                                  ToU         8.881532

In [157]:
# adding :30 data to :00 data
# this takes a while
data_hourly = calc_hourly(data)

C:\Users\Hrafnkell\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [159]:
data.head(12)

                                   KWH/hh (per half hour)   LCLid   energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801   387.007000
                    Affluent                      0.284734   2168   617.303000
                    Comfortable                   0.244850   1491   365.072000
2013-01-01 00:30:00 Adversity                     0.203020   1802   365.842000
                    Affluent                      0.260838   2168   565.497001
                    Comfortable                   0.222459   1491   331.687000
2013-01-01 01:00:00 Adversity                     0.184186   1802   331.904000
                    Affluent                      0.239097   2168   518.363000
                    Comfortable                   0.204080   1491   304.284000
2013-01-01 01:30:00 Adversity                     0.166085   1802   665.128000
                    Affluent                      0.222950   2168  1048.852000
                    Comfortable                   0.185404   1491   608.125000

In [319]:
data_hourly.head(12)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-06-01 00:00:00 Adversity                     0.133975   1744     233.653
                    Affluent                      0.163082   2094     341.494
                    Comfortable                   0.149617   1464     219.039
2013-06-01 01:00:00 Adversity                     0.109176   1741     401.896
                    Affluent                      0.133252   2097     584.434
                    Comfortable                   0.114858   1465     358.580
2013-06-01 02:00:00 Adversity                     0.090982   1741     330.503
                    Affluent                      0.119745   2098     514.933
                    Comfortable                   0.098397   1465     301.115
2013-06-01 03:00:00 Adversity                     0.086038   1741     303.709
                    Affluent                      0.112292   2098     476.474
                    Comfortable                   0.095969   1465     283.409

In [54]:
# dropping :30 data
# this (predictably) also takes a while
data_hourly = drop_half_hour(data_hourly)

In [320]:
data_hourly['KWH/h (per hour)'] = data.energy_sum / data.LCLid
data_hourly.drop(['KWH/hh (per half hour) ', 'energy_sum'], axis=1, inplace=True)
data_hourly.rename(columns={"KWH/h (per hour)": "nrg_cons", "LCLid": "N"}, inplace=True)

In [56]:
# make sure to give the output file the right name
output = 'C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2011_12.csv'

data_hourly.to_csv(output)

In [11]:
data_hourly = pd.read_csv('C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2012_13.csv')

In [12]:
data_hourly.tail(12)

                  DateTime Acorn_grouped stdorToU     N  nrg_cons
17412  2013-03-31 22:00:00     Adversity      Std  1469  0.478732
17413  2013-03-31 22:00:00     Adversity      ToU   290  0.494667
17414  2013-03-31 22:00:00      Affluent      Std  1639  0.836877
17415  2013-03-31 22:00:00      Affluent      ToU   482  0.753179
17416  2013-03-31 22:00:00   Comfortable      Std  1158  0.620571
17417  2013-03-31 22:00:00   Comfortable      ToU   317  0.534165
17418  2013-03-31 23:00:00     Adversity      Std  1469  0.393757
17419  2013-03-31 23:00:00     Adversity      ToU   290  0.430765
17420  2013-03-31 23:00:00      Affluent      Std  1639  0.674796
17421  2013-03-31 23:00:00      Affluent      ToU   482  0.605012
17422  2013-03-31 23:00:00   Comfortable      Std  1158  0.462319
17423  2013-03-31 23:00:00   Comfortable      ToU   317  0.454068

In [13]:
# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=data_hourly.loc[x.index, "N"])

# Define a dictionary with the functions to apply for a given column:
f = {'nrg_cons': wm}

# Groupby and aggregate with your dictionary:
df_grouped = data_hourly.groupby(["DateTime", "Acorn_grouped"]).agg(f)

df_grouped.head(6)

                                   nrg_cons
DateTime            Acorn_grouped
2012-12-01 00:00:00 Adversity      0.182274
                    Affluent       0.292200
                    Comfortable    0.216309
2012-12-01 01:00:00 Adversity      0.420802
                    Affluent       0.472136
                    Comfortable    0.479867

In [14]:
df_grouped.unstack(1).columns[1]

('nrg_cons', 'Affluent')

In [15]:
nrg_regress = df_grouped.unstack(1)
nrg_regress.head(6)

                     nrg_cons
Acorn_grouped       Adversity  Affluent Comfortable
DateTime
2012-12-01 00:00:00  0.182274  0.292200    0.216309
2012-12-01 01:00:00  0.420802  0.472136    0.479867
2012-12-01 02:00:00  0.332003  0.379601    0.374745
2012-12-01 03:00:00  0.276788  0.347464    0.312078
2012-12-01 04:00:00  0.251663  0.343927    0.295329
2012-12-01 05:00:00  0.250724  0.341324    0.291761

In [16]:
nrg_regress.describe()

                  nrg_cons
Acorn_grouped    Adversity     Affluent  Comfortable
count          2904.000000  2904.000000  2904.000000
mean              0.440457     0.682170     0.532425
std               0.135898     0.245831     0.176367
min               0.182274     0.285940     0.216309
25%               0.346252     0.464757     0.407250
50%               0.428091     0.680822     0.522395
75%               0.539547     0.844567     0.654505
max               0.775011     1.340511     0.970214

In [17]:
# make sure to give the outputfile the right name
output = 'C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_final_2012_13.csv'

nrg_regress.to_csv(output)