In [29]:
import pandas as pd
import numpy as np

In [30]:
data = pd.read_csv('C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2012_13.csv')

In [31]:
# groupping data
data = pd.concat([data.groupby(['DateTime', 'Acorn_grouped', 'stdorToU']).mean().iloc[:,:-1],
        data.groupby(['DateTime', 'Acorn_grouped', 'stdorToU']).sum().iloc[:, -1]], axis = 1)

In [32]:
data.head(16)

                                               N  nrg_cons
DateTime            Acorn_grouped stdorToU
2012-12-01 00:00:00 Adversity     Std       1507  0.184107
                                  ToU        296  0.172939
                    Affluent      Std       1692  0.295701
                                  ToU        486  0.280009
                    Comfortable   Std       1173  0.221428
                                  ToU        322  0.197662
2012-12-01 01:00:00 Adversity     Std       1508  0.447034
                                  ToU        296  0.287162
                    Affluent      Std       1692  0.489668
                                  ToU        486  0.411098
                    Comfortable   Std       1174  0.526735
                                  ToU        322  0.308985
2012-12-01 02:00:00 Adversity     Std       1508  0.348945
                                  ToU        296  0.245688
                    Affluent      Std       1692  0.385705
                                  ToU        486  0.358351

In [33]:
len(data)

17424

In [28]:
# dropping the rows with incomplete data
#this loop takes a while
for number, i in enumerate(data.index):
    if i[1] == 'ACORN-' or i[1] == 'ACORN-U':
        data.drop(i, inplace=True)
    print '\r',"%",str((number+1)*100./len(data))[:4],

% 2.56

ValueError: I/O operation on closed file

In [50]:
data['energy_sum'] = (data['KWH/hh (per half hour) '] * data.LCLid)

In [51]:
# adding :30 data to :00 data
# this loop takes a while
def calc_hourly(df):
    for n,i in enumerate(df.index):
        if i[0][-5:-3] == '30':
            if len(df) - n > 6:  
                df.energy_sum[n+6] = df.energy_sum[n+6] + df.energy_sum[n]
    return df
            
# dropping :30 data
# this loop (predictably) also takes a while
def drop_half_hour(df):
    for i in df.index:
        if i[0][-5:-3] == '30':
            df.drop(i, inplace=True)
    return df

In [52]:
data.tail(12)

                                            KWH/hh (per half hour)   LCLid  \
DateTime            Acorn_grouped stdorToU
2012-03-31 23:00:00 Adversity     Std                      0.156160    269
                                  ToU                      0.162066     44
                    Affluent      Std                      0.214208    540
                                  ToU                      0.203554    113
                    Comfortable   Std                      0.153119    211
                                  ToU                      0.212259     49
2012-03-31 23:30:00 Adversity     Std                      0.146916    269
                                  ToU                      0.176337     44
                    Affluent      Std                      0.202857    540
                                  ToU                      0.179605    113
                    Comfortable   Std                      0.133600    211
                                  ToU                      0.181256     49

                                            energy_sum
DateTime            Acorn_grouped stdorToU
2012-03-31 23:00:00 Adversity     Std        42.007052
                                  ToU         7.130900
                    Affluent      Std       115.672533
                                  ToU        23.001567
                    Comfortable   Std        32.308005
                                  ToU        10.400701
2012-03-31 23:30:00 Adversity     Std        39.520393
                                  ToU         7.758833
                    Affluent      Std       109.542588
                                  ToU        20.295406
                    Comfortable   Std        28.189589
                                  ToU         8.881532

In [53]:
# adding :30 data to :00 data
# this takes a while
data_hourly = calc_hourly(data)

C:\Users\Hrafnkell\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [54]:
# dropping :30 data
# this (predictably) also takes a while
data_hourly = drop_half_hour(data_hourly)

In [55]:
data_hourly['KWH/h (per hour)'] = data.energy_sum / data.LCLid
data_hourly.drop(['KWH/hh (per half hour) ', 'energy_sum'], axis=1, inplace=True)
data_hourly.rename(columns={"KWH/h (per hour)": "nrg_cons", "LCLid": "N"}, inplace=True)

In [56]:
# make sure to give the output file the right name
# output = 'C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2011_12.csv'

data_hourly.to_csv(output)

In [11]:
data_hourly = pd.read_csv('C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2012_13.csv')

In [12]:
data_hourly.tail(12)

                  DateTime Acorn_grouped stdorToU     N  nrg_cons
17412  2013-03-31 22:00:00     Adversity      Std  1469  0.478732
17413  2013-03-31 22:00:00     Adversity      ToU   290  0.494667
17414  2013-03-31 22:00:00      Affluent      Std  1639  0.836877
17415  2013-03-31 22:00:00      Affluent      ToU   482  0.753179
17416  2013-03-31 22:00:00   Comfortable      Std  1158  0.620571
17417  2013-03-31 22:00:00   Comfortable      ToU   317  0.534165
17418  2013-03-31 23:00:00     Adversity      Std  1469  0.393757
17419  2013-03-31 23:00:00     Adversity      ToU   290  0.430765
17420  2013-03-31 23:00:00      Affluent      Std  1639  0.674796
17421  2013-03-31 23:00:00      Affluent      ToU   482  0.605012
17422  2013-03-31 23:00:00   Comfortable      Std  1158  0.462319
17423  2013-03-31 23:00:00   Comfortable      ToU   317  0.454068

In [13]:
# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=data_hourly.loc[x.index, "N"])

# Define a dictionary with the functions to apply for a given column:
f = {'nrg_cons': wm}

# Groupby and aggregate with your dictionary:
df_grouped = data_hourly.groupby(["DateTime", "Acorn_grouped"]).agg(f)

df_grouped.head(6)

                                   nrg_cons
DateTime            Acorn_grouped
2012-12-01 00:00:00 Adversity      0.182274
                    Affluent       0.292200
                    Comfortable    0.216309
2012-12-01 01:00:00 Adversity      0.420802
                    Affluent       0.472136
                    Comfortable    0.479867

In [14]:
df_grouped.unstack(1).columns[1]

('nrg_cons', 'Affluent')

In [15]:
nrg_regress = df_grouped.unstack(1)
nrg_regress.head(6)

                     nrg_cons
Acorn_grouped       Adversity  Affluent Comfortable
DateTime
2012-12-01 00:00:00  0.182274  0.292200    0.216309
2012-12-01 01:00:00  0.420802  0.472136    0.479867
2012-12-01 02:00:00  0.332003  0.379601    0.374745
2012-12-01 03:00:00  0.276788  0.347464    0.312078
2012-12-01 04:00:00  0.251663  0.343927    0.295329
2012-12-01 05:00:00  0.250724  0.341324    0.291761

In [16]:
nrg_regress.describe()

                  nrg_cons
Acorn_grouped    Adversity     Affluent  Comfortable
count          2904.000000  2904.000000  2904.000000
mean              0.440457     0.682170     0.532425
std               0.135898     0.245831     0.176367
min               0.182274     0.285940     0.216309
25%               0.346252     0.464757     0.407250
50%               0.428091     0.680822     0.522395
75%               0.539547     0.844567     0.654505
max               0.775011     1.340511     0.970214

In [17]:
# make sure to give the outputfile the right name
output = 'C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_final_2012_13.csv'

nrg_regress.to_csv(output)