In [1]:
import numpy as np
import pandas as pd
import datetime as DT

In [2]:
# get the rouped energy data

df = pd.read_csv("C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_summer_2013.csv",
                               parse_dates=[0], infer_datetime_format=True)
#df = pd.read_csv("~/Desktop/CUSP/Applied_Data_Science/Taming-the-Peak/Final_Data/grouped_nrg_winter1314.csv",
#                               parse_dates=[0], infer_datetime_format=True)

df.head()

             DateTime Acorn_grouped     N  nrg_cons
0 2013-06-01 00:00:00     Adversity  1744  0.133975
1 2013-06-01 00:00:00      Affluent  2094  0.163082
2 2013-06-01 00:00:00   Comfortable  1464  0.149617
3 2013-06-01 01:00:00     Adversity  1741  0.230842
4 2013-06-01 01:00:00      Affluent  2097  0.278700

In [90]:
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [3]:
len(df.DateTime.unique())

2208

In [5]:
df.groupby(["DateTime", "Acorn_grouped"]).sum().head(6)

                                      N  nrg_cons
DateTime            Acorn_grouped
2013-06-01 00:00:00 Adversity      1744  0.133975
                    Affluent       2094  0.163082
                    Comfortable    1464  0.149617
2013-06-01 01:00:00 Adversity      1741  0.230842
                    Affluent       2097  0.278700
                    Comfortable    1465  0.244765

In [6]:
df['total_nrg'] = df.N * df.nrg_cons

In [7]:
df.head(6)

             DateTime Acorn_grouped     N  nrg_cons  total_nrg
0 2013-06-01 00:00:00     Adversity  1744  0.133975    233.653
1 2013-06-01 00:00:00      Affluent  2094  0.163082    341.494
2 2013-06-01 00:00:00   Comfortable  1464  0.149617    219.039
3 2013-06-01 01:00:00     Adversity  1741  0.230842    401.896
4 2013-06-01 01:00:00      Affluent  2097  0.278700    584.434
5 2013-06-01 01:00:00   Comfortable  1465  0.244765    358.580

In [8]:
df.drop(['nrg_cons', 'Acorn_grouped'], axis=1, inplace=True)

In [9]:
df = df.groupby(["DateTime"]).sum()

In [10]:
df.head()

                        N    total_nrg
DateTime
2013-06-01 00:00:00  5302   794.186000
2013-06-01 01:00:00  5303  1344.910001
2013-06-01 02:00:00  5304  1146.551000
2013-06-01 03:00:00  5304  1063.592000
2013-06-01 04:00:00  5304  1036.497000

In [11]:
df['nrg_cons'] = df.total_nrg/df.N

In [12]:
df.drop(['N', 'total_nrg'], axis=1, inplace=True)

In [13]:
df.head()

                     nrg_cons
DateTime
2013-06-01 00:00:00  0.149790
2013-06-01 01:00:00  0.253613
2013-06-01 02:00:00  0.216167
2013-06-01 03:00:00  0.200526
2013-06-01 04:00:00  0.195418

In [14]:
# creating a stupid column to merge on
df['DateTime'] = df.index

In [15]:
df.head()

                     nrg_cons            DateTime
DateTime
2013-06-01 00:00:00  0.149790 2013-06-01 00:00:00
2013-06-01 01:00:00  0.253613 2013-06-01 01:00:00
2013-06-01 02:00:00  0.216167 2013-06-01 02:00:00
2013-06-01 03:00:00  0.200526 2013-06-01 03:00:00
2013-06-01 04:00:00  0.195418 2013-06-01 04:00:00

In [16]:
# get the rouped energy data

df2 = pd.read_csv("C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_final_summer_2013.csv",
                               parse_dates=[0], infer_datetime_format=True)
#df = pd.read_csv("~/Desktop/CUSP/Applied_Data_Science/Taming-the-Peak/Final_Data/grouped_nrg_winter1314.csv",
#                               parse_dates=[0], infer_datetime_format=True)

df2.head()

            Unnamed: 0        nrg_cons      nrg_cons.1      nrg_cons.2
0        Acorn_grouped       Adversity        Affluent     Comfortable
1             DateTime             NaN             NaN             NaN
2  2013-06-01 00:00:00  0.133975344037  0.163082139398   0.14961680362
3  2013-06-01 01:00:00  0.230842044859   0.27870004783  0.244764505256
4  2013-06-01 02:00:00  0.189835152154   0.24543994285  0.205539249147

In [17]:
df2['DateTime'] = df2['Unnamed: 0']

In [30]:
type(df.DateTime[1])

pandas.tslib.Timestamp

In [33]:
type(df2.DateTime[5])

str

In [22]:
df.head()

                     nrg_cons            DateTime
DateTime
2013-06-01 00:00:00  0.149790 2013-06-01 00:00:00
2013-06-01 01:00:00  0.253613 2013-06-01 01:00:00
2013-06-01 02:00:00  0.216167 2013-06-01 02:00:00
2013-06-01 03:00:00  0.200526 2013-06-01 03:00:00
2013-06-01 04:00:00  0.195418 2013-06-01 04:00:00

In [36]:
df2.drop([0, 1], inplace=True)

In [38]:
df2.DateTime = pd.to_datetime(df2.DateTime)

In [37]:
df2.head()

,Unnamed: 0,nrg_cons,nrg_cons.1,nrg_cons.2,DateTime
2,2013-06-01 00:00:00,0.133975344037,0.163082139398,0.14961680362,2013-06-01 00:00:00
3,2013-06-01 01:00:00,0.230842044859,0.27870004783,0.244764505256,2013-06-01 01:00:00
4,2013-06-01 02:00:00,0.189835152154,0.24543994285,0.205539249147,2013-06-01 02:00:00
5,2013-06-01 03:00:00,0.174445146468,0.227108674929,0.193453242389,2013-06-01 03:00:00
6,2013-06-01 04:00:00,0.168976450316,0.220245471926,0.191286006826,2013-06-01 04:00:00

In [39]:
merged = pd.merge(left=df2, right=df, how='left', on='DateTime')

In [41]:
merged.drop(['DateTime'], axis=1, inplace=True)

In [42]:
merged.columns = ['DateTime', 'Adversity', 'Affluent', 'Comfortable', 'Overall']

In [43]:
merged.head()

,DateTime,Adversity,Affluent,Comfortable,Overall
0,2013-06-01 00:00:00,0.133975344037,0.163082139398,0.14961680362,0.149790
1,2013-06-01 01:00:00,0.230842044859,0.27870004783,0.244764505256,0.253613
2,2013-06-01 02:00:00,0.189835152154,0.24543994285,0.205539249147,0.216167
3,2013-06-01 03:00:00,0.174445146468,0.227108674929,0.193453242389,0.200526
4,2013-06-01 04:00:00,0.168976450316,0.220245471926,0.191286006826,0.195418

In [44]:
merged.tail()

,DateTime,Adversity,Affluent,Comfortable,Overall
2203,2013-08-31 19:00:00,0.380412763759,0.498233024231,0.436866944006,0.442483
2204,2013-08-31 20:00:00,0.415747658021,0.526860283439,0.483189882259,0.478227
2205,2013-08-31 21:00:00,0.393023419028,0.50210307748,0.471447678309,0.457751
2206,2013-08-31 22:00:00,0.350716627518,0.44729213488,0.422129590991,0.408573
2207,2013-08-31 23:00:00,0.29669613589,0.364547142062,0.346575190506,0.337263

In [45]:
output = "C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_final_summer_2013.csv"

merged.to_csv(output)