In [36]:
import pandas as pd
import numpy as np

In [37]:
data = pd.read_csv('../Final_Data/stdToU.csv')

In [38]:
data.head()

              DateTime          concat    energy
0  2012-01-01 01:00:00    AdversityStd  0.613391
1  2012-01-01 01:00:00    AdversityToU  0.638933
2  2012-01-01 01:00:00     AffluentStd  0.664042
3  2012-01-01 01:00:00     AffluentToU  0.450208
4  2012-01-01 01:00:00  ComfortableStd  0.355763

In [4]:
list_of_interest = ['Adversity', 'Affluent', 'Comfortable']

In [5]:
len(data)

631093

In [6]:
# selecting only Acorns of interest - dropping incomplete data
data = data[data['Acorn_grouped'].isin(list_of_interest)]

In [7]:
len(data)

584070

In [8]:
data.head()

,DateTime,Acorn,Acorn_grouped,stdorToU,KWH/hh (per half hour),LCLid
0,2012-01-01 00:00:00,ACORN-A,Affluent,Std,0.495875,8
1,2012-01-01 00:00:00,ACORN-A,Affluent,ToU,0.279000,1
2,2012-01-01 00:00:00,ACORN-B,Affluent,Std,0.156000,1
3,2012-01-01 00:00:00,ACORN-C,Affluent,Std,0.264400,5
4,2012-01-01 00:00:00,ACORN-C,Affluent,ToU,0.349000,2

In [9]:
data.drop(['stdorToU'], axis=1, inplace=True)
data.drop(['Acorn'], axis=1, inplace=True)

In [10]:
data.head()

              DateTime Acorn_grouped  KWH/hh (per half hour)   LCLid
0  2012-01-01 00:00:00      Affluent                 0.495875      8
1  2012-01-01 00:00:00      Affluent                 0.279000      1
2  2012-01-01 00:00:00      Affluent                 0.156000      1
3  2012-01-01 00:00:00      Affluent                 0.264400      5
4  2012-01-01 00:00:00      Affluent                 0.349000      2

In [11]:
data['energy_sum'] = data['KWH/hh (per half hour) ']*data.LCLid

In [12]:
data.head(6)

,DateTime,Acorn_grouped,KWH/hh (per half hour),LCLid,energy_sum
0,2012-01-01 00:00:00,Affluent,0.495875,8,3.967
1,2012-01-01 00:00:00,Affluent,0.279000,1,0.279
2,2012-01-01 00:00:00,Affluent,0.156000,1,0.156
3,2012-01-01 00:00:00,Affluent,0.264400,5,1.322
4,2012-01-01 00:00:00,Affluent,0.349000,2,0.698
5,2012-01-01 00:00:00,Affluent,0.303333,12,3.640

In [13]:
data = data.groupby(['DateTime', 'Acorn_grouped']).sum()

In [14]:
data.head(12)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2012-01-01 00:00:00 Adversity                     2.694950    125      27.649
                    Affluent                      2.533452    167      44.768
                    Comfortable                   1.362500    114      21.673
2012-01-01 00:30:00 Adversity                     2.974071    125      38.899
                    Affluent                      2.447163    167      54.007
                    Comfortable                   1.277858    114      21.404
2012-01-01 01:00:00 Adversity                     2.780854    125      38.158
                    Affluent                      2.583056    167      51.756
                    Comfortable                   1.131872    114      19.117
2012-01-01 01:30:00 Adversity                     2.217324    125      30.728
                    Affluent                      2.198471    167      48.548
                    Comfortable                   1.046396    114      17.564

In [15]:
data['KWH/hh (per half hour) '] = data.energy_sum / data.LCLid

In [16]:
data.head(12)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2012-01-01 00:00:00 Adversity                     0.221192    125      27.649
                    Affluent                      0.268072    167      44.768
                    Comfortable                   0.190114    114      21.673
2012-01-01 00:30:00 Adversity                     0.311192    125      38.899
                    Affluent                      0.323395    167      54.007
                    Comfortable                   0.187754    114      21.404
2012-01-01 01:00:00 Adversity                     0.305264    125      38.158
                    Affluent                      0.309916    167      51.756
                    Comfortable                   0.167693    114      19.117
2012-01-01 01:30:00 Adversity                     0.245824    125      30.728
                    Affluent                      0.290707    167      48.548
                    Comfortable                   0.154070    114      17.564

In [222]:
"""# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=data.loc[x.index, "LCLid"])

# Define a dictionary with the functions to apply for a given column:
f = {'KWH/hh (per half hour) ': wm}

# Groupby and aggregate with your dictionary:
data = data.groupby(["DateTime", "Acorn_grouped"]).agg(f)

data.head()

#grouped_nrg_1314.groupby('Acorn_grouped').aggregate?"""

                                   KWH/hh (per half hour)
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885
                    Affluent                      0.284734
                    Comfortable                   0.244850
2013-01-01 00:30:00 Adversity                     0.203020
                    Affluent                      0.260838

In [17]:
len(data)

52560

In [17]:
for n,i in enumerate(data.index):
    if i[0][-5:-3] == '30':
        if len(data) - n > 3:
            data.energy_sum[n+3] = data.energy_sum[n+3] + data.energy_sum[n]

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
data.head(32)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2012-01-01 00:00:00 Adversity                     0.221192    125      27.649
                    Affluent                      0.268072    167      44.768
                    Comfortable                   0.190114    114      21.673
2012-01-01 01:00:00 Adversity                     0.305264    125      77.057
                    Affluent                      0.309916    167     105.763
                    Comfortable                   0.167693    114      40.521
2012-01-01 02:00:00 Adversity                     0.238152    125      60.497
                    Affluent                      0.279329    167      95.196
                    Comfortable                   0.142535    114      33.813
2012-01-01 03:00:00 Adversity                     0.190544    125      46.952
                    Affluent                      0.234156    167      81.666
                    Comfortable                   0.127930    114      26.930
2012-01-01 04:00:00 Adversity                     0.151424    125      40.617
                    Affluent                      0.169838    167      62.927
                    Comfortable                   0.095947    114      23.490
2012-01-01 05:00:00 Adversity                     0.137624    125      36.783
                    Affluent                      0.166144    167      54.702
                    Comfortable                   0.090105    114      20.522
2012-01-01 06:00:00 Adversity                     0.140904    125      35.577
                    Affluent                      0.159617    167      54.234
                    Comfortable                   0.114307    114      24.985
2012-01-01 07:00:00 Adversity                     0.153856    125      36.302
                    Affluent                      0.199078    167      63.913
                    Comfortable                   0.129070    114      28.757
2012-01-01 08:00:00 Adversity                     0.156680    125      38.785
                    Affluent                      0.147754    167      52.053
                    Comfortable                   0.151623    114      33.312
2012-01-01 09:00:00 Adversity                     0.185128    125      46.543
                    Affluent                      0.170311    167      56.224
                    Comfortable                   0.204377    114      42.492
2012-01-01 10:00:00 Adversity                     0.219864    125      53.376
                    Affluent                      0.199677    167      63.955

In [21]:
for i in data.index:
    if i[0][-5:-3] == '30':
        data.drop(i, inplace=True)

In [22]:
data_hourly = data

In [23]:
data_hourly.head(12)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2012-01-01 00:00:00 Adversity                     0.221192    125      27.649
                    Affluent                      0.268072    167      44.768
                    Comfortable                   0.190114    114      21.673
2012-01-01 01:00:00 Adversity                     0.305264    125      77.057
                    Affluent                      0.309916    167     105.763
                    Comfortable                   0.167693    114      40.521
2012-01-01 02:00:00 Adversity                     0.238152    125      60.497
                    Affluent                      0.279329    167      95.196
                    Comfortable                   0.142535    114      33.813
2012-01-01 03:00:00 Adversity                     0.190544    125      46.952
                    Affluent                      0.234156    167      81.666
                    Comfortable                   0.127930    114      26.930

In [156]:
# adding :30 data to :00 data
# this loop takes a while
def calc_hourly(df):
    for n,i in enumerate(df.index):
        if i[0][-5:-3] == '30':
            if len(df) - n > 6:  
                df.energy_sum[n+6] = df.energy_sum[n+6] + df.energy_sum[n]
    return df
            
# dropping :30 data
# this loop (predictably) also takes a while
def drop_half_hour(df):
    for i in df.index:
        if i[0][-5:-3] == '30':
            df.drop(i, inplace=True)
    return df

In [24]:
data.tail(12)

                                   KWH/hh (per half hour)   LCLid   energy_sum
DateTime            Acorn_grouped
2012-12-31 20:00:00 Adversity                     0.284850   1801  1071.446000
                    Affluent                      0.408284   2168  1819.424000
                    Comfortable                   0.357752   1490  1097.033000
2012-12-31 21:00:00 Adversity                     0.262629   1801   960.564999
                    Affluent                      0.358900   2168  1603.428999
                    Comfortable                   0.317270   1491   970.458000
2012-12-31 22:00:00 Adversity                     0.232816   1801   861.578000
                    Affluent                      0.325913   2168  1460.877999
                    Comfortable                   0.290286   1491   895.850000
2012-12-31 23:00:00 Adversity                     0.204700   1801   773.051999
                    Affluent                      0.287860   2168  1283.919001
                    Comfortable                   0.257363   1491   782.710000

In [157]:
# adding :30 data to :00 data
# this takes a while
data_hourly = calc_hourly(data)

C:\Users\Hrafnkell\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [159]:
data.head(12)

                                   KWH/hh (per half hour)   LCLid   energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801   387.007000
                    Affluent                      0.284734   2168   617.303000
                    Comfortable                   0.244850   1491   365.072000
2013-01-01 00:30:00 Adversity                     0.203020   1802   365.842000
                    Affluent                      0.260838   2168   565.497001
                    Comfortable                   0.222459   1491   331.687000
2013-01-01 01:00:00 Adversity                     0.184186   1802   331.904000
                    Affluent                      0.239097   2168   518.363000
                    Comfortable                   0.204080   1491   304.284000
2013-01-01 01:30:00 Adversity                     0.166085   1802   665.128000
                    Affluent                      0.222950   2168  1048.852000
                    Comfortable                   0.185404   1491   608.125000

In [319]:
data_hourly.head(12)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-06-01 00:00:00 Adversity                     0.133975   1744     233.653
                    Affluent                      0.163082   2094     341.494
                    Comfortable                   0.149617   1464     219.039
2013-06-01 01:00:00 Adversity                     0.109176   1741     401.896
                    Affluent                      0.133252   2097     584.434
                    Comfortable                   0.114858   1465     358.580
2013-06-01 02:00:00 Adversity                     0.090982   1741     330.503
                    Affluent                      0.119745   2098     514.933
                    Comfortable                   0.098397   1465     301.115
2013-06-01 03:00:00 Adversity                     0.086038   1741     303.709
                    Affluent                      0.112292   2098     476.474
                    Comfortable                   0.095969   1465     283.409

In [54]:
# dropping :30 data
# this (predictably) also takes a while
data_hourly = drop_half_hour(data_hourly)

In [25]:
data_hourly['KWH/h (per hour)'] = data.energy_sum / data.LCLid
data_hourly.drop(['KWH/hh (per half hour) ', 'energy_sum'], axis=1, inplace=True)
data_hourly.rename(columns={"KWH/h (per hour)": "nrg_cons", "LCLid": "N"}, inplace=True)

In [26]:
# make sure to give the output file the right name
output = '../Final_Data/energy_hourly_2012.csv'

data_hourly.to_csv(output)

In [28]:
data_hourly = pd.read_csv('../Final_Data/energy_hourly_2012.csv')

In [31]:
data_hourly.head(12)

               DateTime Acorn_grouped    N  nrg_cons
0   2012-01-01 00:00:00     Adversity  125  0.221192
1   2012-01-01 00:00:00      Affluent  167  0.268072
2   2012-01-01 00:00:00   Comfortable  114  0.190114
3   2012-01-01 01:00:00     Adversity  125  0.616456
4   2012-01-01 01:00:00      Affluent  167  0.633311
5   2012-01-01 01:00:00   Comfortable  114  0.355447
6   2012-01-01 02:00:00     Adversity  125  0.483976
7   2012-01-01 02:00:00      Affluent  167  0.570036
8   2012-01-01 02:00:00   Comfortable  114  0.296605
9   2012-01-01 03:00:00     Adversity  125  0.375616
10  2012-01-01 03:00:00      Affluent  167  0.489018
11  2012-01-01 03:00:00   Comfortable  114  0.236228

In [30]:
# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=data_hourly.loc[x.index, "N"])

# Define a dictionary with the functions to apply for a given column:
f = {'nrg_cons': wm}

# Groupby and aggregate with your dictionary:
df_grouped = data_hourly.groupby(["DateTime", "Acorn_grouped"]).agg(f)

df_grouped.head(6)

                                   nrg_cons
DateTime            Acorn_grouped
2012-01-01 00:00:00 Adversity      0.221192
                    Affluent       0.268072
                    Comfortable    0.190114
2012-01-01 01:00:00 Adversity      0.616456
                    Affluent       0.633311
                    Comfortable    0.355447

In [46]:
data.head()

              DateTime          concat    energy
0  2012-01-01 01:00:00    AdversityStd  0.613391
1  2012-01-01 01:00:00    AdversityToU  0.638933
2  2012-01-01 01:00:00     AffluentStd  0.664042
3  2012-01-01 01:00:00     AffluentToU  0.450208
4  2012-01-01 01:00:00  ComfortableStd  0.355763

In [40]:
data.columns

Index([u'DateTime', u'concat', u'energy'], dtype='object')

In [56]:
data.head(6)

              DateTime          concat    energy
0  2012-01-01 01:00:00    AdversityStd  0.613391
1  2012-01-01 01:00:00    AdversityToU  0.638933
2  2012-01-01 01:00:00     AffluentStd  0.664042
3  2012-01-01 01:00:00     AffluentToU  0.450208
4  2012-01-01 01:00:00  ComfortableStd  0.355763
5  2012-01-01 01:00:00  ComfortableToU  0.353647

In [50]:
data.unstack(1).columns[1]

AttributeError: 'Series' object has no attribute 'columns'

In [51]:
data.unstack?

In [57]:
nrg_regress = data.unstack(1)
nrg_regress.head(7)

DateTime  0    2012-01-01 01:00:00
          1    2012-01-01 01:00:00
          2    2012-01-01 01:00:00
          3    2012-01-01 01:00:00
          4    2012-01-01 01:00:00
          5    2012-01-01 01:00:00
          6    2012-01-01 02:00:00
dtype: object

In [45]:
nrg_regress.describe()

count          315774
unique         122595
top       AffluentStd
freq            17543
dtype: object

In [35]:
# make sure to give the outputfile the right name
output = '../Final_Data/energy_final_2012.csv'

nrg_regress.to_csv(output)