In [2]:
import numpy as np
import pandas as pd
import datetime as DT

In [68]:
# get the rouped energy data

df = pd.read_csv("C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2013_14.csv",
                               parse_dates=[0], infer_datetime_format=True)
#df = pd.read_csv("~/Desktop/CUSP/Applied_Data_Science/Taming-the-Peak/Final_Data/grouped_nrg_winter1314.csv",
#                               parse_dates=[0], infer_datetime_format=True)

df.head()

  Unnamed: 0             DateTime Acorn_grouped stdorToU     N  nrg_cons
0          0  2013-12-01 01:00:00     Adversity      Std  1404  0.407993
1          1  2013-12-01 01:00:00     Adversity      ToU   280  0.278390
2          2  2013-12-01 01:00:00      Affluent      Std  1527  0.513123
3          3  2013-12-01 01:00:00      Affluent      ToU   458  0.367829
4          4  2013-12-01 01:00:00   Comfortable      Std  1113  0.455859

In [69]:
#df.rename(columns={'Unnamed: 0':'DateTime'}, inplace=True)
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [70]:
len(df.DateTime.unique())

2136

In [71]:
df.groupby(["DateTime", "Acorn_grouped"]).sum().head(6)

                                      N  nrg_cons
DateTime            Acorn_grouped
2013-12-01 01:00:00 Adversity      1684  0.686384
                    Affluent       1985  0.880951
                    Comfortable    1412  0.765106
2013-12-01 02:00:00 Adversity      1684  0.525123
                    Affluent       1985  0.702950
                    Comfortable    1412  0.575235

In [72]:
df['total_nrg'] = df.N * df.nrg_cons

In [73]:
df.head(6)

              DateTime Acorn_grouped stdorToU     N  nrg_cons   total_nrg
0  2013-12-01 01:00:00     Adversity      Std  1404  0.407993  572.822504
1  2013-12-01 01:00:00     Adversity      ToU   280  0.278390   77.949276
2  2013-12-01 01:00:00      Affluent      Std  1527  0.513123  783.538336
3  2013-12-01 01:00:00      Affluent      ToU   458  0.367829  168.465478
4  2013-12-01 01:00:00   Comfortable      Std  1113  0.455859  507.370649
5  2013-12-01 01:00:00   Comfortable      ToU   299  0.309247   92.464835

In [74]:
df.drop(['nrg_cons', 'Acorn_grouped', 'stdorToU'], axis=1, inplace=True)

In [75]:
df = df.groupby(["DateTime"]).sum()

In [76]:
df.head()

                        N    total_nrg
DateTime
2013-12-01 01:00:00  5081  2202.611078
2013-12-01 02:00:00  5081  1709.969478
2013-12-01 03:00:00  5081  1463.999119
2013-12-01 04:00:00  5081  1362.913075
2013-12-01 05:00:00  5081  1328.471194

In [77]:
df['nrg_cons'] = df.total_nrg/df.N

In [78]:
df.drop(['N', 'total_nrg'], axis=1, inplace=True)

In [79]:
df.head()

                     nrg_cons
DateTime
2013-12-01 01:00:00  0.433500
2013-12-01 02:00:00  0.336542
2013-12-01 03:00:00  0.288132
2013-12-01 04:00:00  0.268237
2013-12-01 05:00:00  0.261459

In [80]:
# creating a stupid column to merge on
df['DateTime'] = df.index

In [81]:
df.head()

                     nrg_cons             DateTime
DateTime
2013-12-01 01:00:00  0.433500  2013-12-01 01:00:00
2013-12-01 02:00:00  0.336542  2013-12-01 02:00:00
2013-12-01 03:00:00  0.288132  2013-12-01 03:00:00
2013-12-01 04:00:00  0.268237  2013-12-01 04:00:00
2013-12-01 05:00:00  0.261459  2013-12-01 05:00:00

In [82]:
# get the rouped energy data

df2 = pd.read_csv("C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_final_2013_14.csv",
                               parse_dates=[0], infer_datetime_format=True)
#df = pd.read_csv("~/Desktop/CUSP/Applied_Data_Science/Taming-the-Peak/Final_Data/grouped_nrg_winter1314.csv",
#                               parse_dates=[0], infer_datetime_format=True)

df2.head()

,Unnamed: 0,nrg_cons,nrg_cons.1,nrg_cons.2
0,Acorn_grouped,Adversity,Affluent,Comfortable
1,DateTime,NaN,NaN,NaN
2,2013-12-01 01:00:00,0.38644404961392875,0.4795988988611204,0.42481266583201066
3,2013-12-01 02:00:00,0.301772683774658,0.38167072381810324,0.31456649579228046
4,2013-12-01 03:00:00,0.25305735716030875,0.3354960714125738,0.2633787729103081

In [83]:
df2.rename(columns={'Unnamed: 0' : 'DateTime'}, inplace=True)

In [89]:
type(df.DateTime[1])

pandas.tslib.Timestamp

In [90]:
type(df2.DateTime[5])

pandas.tslib.Timestamp

In [86]:
df2.drop([0, 1], inplace=True)

In [87]:
df2.DateTime = pd.to_datetime(df2.DateTime)

In [88]:
df.DateTime = pd.to_datetime(df.DateTime)

In [91]:
df2.head()

,DateTime,nrg_cons,nrg_cons.1,nrg_cons.2
2,2013-12-01 01:00:00,0.38644404961392875,0.4795988988611204,0.42481266583201066
3,2013-12-01 02:00:00,0.301772683774658,0.38167072381810324,0.31456649579228046
4,2013-12-01 03:00:00,0.25305735716030875,0.3354960714125738,0.2633787729103081
5,2013-12-01 04:00:00,0.229610772429019,0.31218616820539347,0.2525205310520956
6,2013-12-01 05:00:00,0.21705962332505466,0.3050411176599124,0.2531417629841643

In [92]:
merged = pd.merge(left=df2, right=df, how='left', on='DateTime')

In [58]:
#merged.drop(['DateTime'], axis=1, inplace=True)

In [95]:
merged.columns = ['DateTime', 'Adversity', 'Affluent', 'Comfortable', 'Overall']

In [96]:
merged.head()

,DateTime,Adversity,Affluent,Comfortable,Overall
0,2013-12-01 01:00:00,0.38644404961392875,0.4795988988611204,0.42481266583201066,0.433500
1,2013-12-01 02:00:00,0.301772683774658,0.38167072381810324,0.31456649579228046,0.336542
2,2013-12-01 03:00:00,0.25305735716030875,0.3354960714125738,0.2633787729103081,0.288132
3,2013-12-01 04:00:00,0.229610772429019,0.31218616820539347,0.2525205310520956,0.268237
4,2013-12-01 05:00:00,0.21705962332505466,0.3050411176599124,0.2531417629841643,0.261459

In [101]:
merged.tail()

,DateTime,Adversity,Affluent,Comfortable,Overall
2131,2014-02-27 20:00:00,0.5850399821334538,0.9484080820535786,0.6946461474691829,0.756850
2132,2014-02-27 21:00:00,0.5596283120287304,0.9340356756315545,0.6691844868531234,0.735752
2133,2014-02-27 22:00:00,0.50773060052956,0.8553674213072988,0.6167476987967518,0.673258
2134,2014-02-27 23:00:00,0.42970712257465493,0.7290496181832935,0.5155065432789028,0.570020
2135,2014-02-28 00:00:00,0.28594795200601886,0.39393115334660245,0.3328038019729666,0.340998

In [98]:
output = "C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_final_2013_14.csv"

merged.to_csv(output)