In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\grouped_2013.csv')

In [3]:
list_of_interest = ['Adversity', 'Affluent', 'Comfortable']

In [4]:
len(data)

642575

In [6]:
# selecting only Acorns of interest - dropping incomplete data
data = data[data['Acorn_grouped'].isin(list_of_interest)]

In [7]:
len(data)

595680

In [8]:
data.head()

,DateTime,Acorn,Acorn_grouped,stdorToU,KWH/hh (per half hour),LCLid
0,2013-01-01 00:00:00,ACORN-A,Affluent,Std,0.486932,117
1,2013-01-01 00:00:00,ACORN-A,Affluent,ToU,0.404921,38
2,2013-01-01 00:00:00,ACORN-B,Affluent,Std,0.264095,21
3,2013-01-01 00:00:00,ACORN-B,Affluent,ToU,0.514500,4
4,2013-01-01 00:00:00,ACORN-C,Affluent,Std,0.288457,116

In [9]:
data.drop(['stdorToU'], axis=1, inplace=True)
data.drop(['Acorn'], axis=1, inplace=True)

In [10]:
data.head()

              DateTime Acorn_grouped  KWH/hh (per half hour)   LCLid
0  2013-01-01 00:00:00      Affluent                 0.486932    117
1  2013-01-01 00:00:00      Affluent                 0.404921     38
2  2013-01-01 00:00:00      Affluent                 0.264095     21
3  2013-01-01 00:00:00      Affluent                 0.514500      4
4  2013-01-01 00:00:00      Affluent                 0.288457    116

In [11]:
data['energy_sum'] = data['KWH/hh (per half hour) ']*data.LCLid

In [12]:
data.head(6)

,DateTime,Acorn_grouped,KWH/hh (per half hour),LCLid,energy_sum
0,2013-01-01 00:00:00,Affluent,0.486932,117,56.971
1,2013-01-01 00:00:00,Affluent,0.404921,38,15.387
2,2013-01-01 00:00:00,Affluent,0.264095,21,5.546
3,2013-01-01 00:00:00,Affluent,0.514500,4,2.058
4,2013-01-01 00:00:00,Affluent,0.288457,116,33.461
5,2013-01-01 00:00:00,Affluent,0.237515,33,7.838

In [13]:
data = data.groupby(['DateTime', 'Acorn_grouped']).sum()

In [14]:
data.head(12)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     3.104833   1801  387.007000
                    Affluent                      3.263346   2168  617.303000
                    Comfortable                   2.504545   1491  365.072000
2013-01-01 00:30:00 Adversity                     2.971474   1802  365.842000
                    Affluent                      3.229644   2168  565.497001
                    Comfortable                   2.231013   1491  331.687000
2013-01-01 01:00:00 Adversity                     2.659593   1802  331.904000
                    Affluent                      3.014574   2168  518.363000
                    Comfortable                   2.075721   1491  304.284000
2013-01-01 01:30:00 Adversity                     2.386695   1802  299.286000
                    Affluent                      2.769974   2168  483.355000
                    Comfortable                   1.846223   1491  276.438000

In [15]:
data['KWH/hh (per half hour) '] = data.energy_sum / data.LCLid

In [16]:
data.head(12)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801  387.007000
                    Affluent                      0.284734   2168  617.303000
                    Comfortable                   0.244850   1491  365.072000
2013-01-01 00:30:00 Adversity                     0.203020   1802  365.842000
                    Affluent                      0.260838   2168  565.497001
                    Comfortable                   0.222459   1491  331.687000
2013-01-01 01:00:00 Adversity                     0.184186   1802  331.904000
                    Affluent                      0.239097   2168  518.363000
                    Comfortable                   0.204080   1491  304.284000
2013-01-01 01:30:00 Adversity                     0.166085   1802  299.286000
                    Affluent                      0.222950   2168  483.355000
                    Comfortable                   0.185404   1491  276.438000

In [222]:
"""# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=data.loc[x.index, "LCLid"])

# Define a dictionary with the functions to apply for a given column:
f = {'KWH/hh (per half hour) ': wm}

# Groupby and aggregate with your dictionary:
data = data.groupby(["DateTime", "Acorn_grouped"]).agg(f)

data.head()

#grouped_nrg_1314.groupby('Acorn_grouped').aggregate?"""

                                   KWH/hh (per half hour)
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885
                    Affluent                      0.284734
                    Comfortable                   0.244850
2013-01-01 00:30:00 Adversity                     0.203020
                    Affluent                      0.260838

In [17]:
len(data)

52560

In [19]:
for n,i in enumerate(data.index):
    if i[0][-5:-3] == '30':
        if len(data) - n > 3:
            data.energy_sum[n+3] = data.energy_sum[n+3] + data.energy_sum[n]

C:\Users\Hrafnkell\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [20]:
data.head(32)

                                   KWH/hh (per half hour)   LCLid   energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801   387.007000
                    Affluent                      0.284734   2168   617.303000
                    Comfortable                   0.244850   1491   365.072000
2013-01-01 00:30:00 Adversity                     0.203020   1802   365.842000
                    Affluent                      0.260838   2168   565.497001
                    Comfortable                   0.222459   1491   331.687000
2013-01-01 01:00:00 Adversity                     0.184186   1802   697.746000
                    Affluent                      0.239097   2168  1083.860000
                    Comfortable                   0.204080   1491   635.971000
2013-01-01 01:30:00 Adversity                     0.166085   1802   299.286000
                    Affluent                      0.222950   2168   483.355000
                    Comfortable                   0.185404   1491   276.438000
2013-01-01 02:00:00 Adversity                     0.152026   1802   573.236000
                    Affluent                      0.206345   2168   930.710000
                    Comfortable                   0.166306   1491   524.400000
2013-01-01 02:30:00 Adversity                     0.138388   1802   249.375000
                    Affluent                      0.191123   2168   414.355000
                    Comfortable                   0.148600   1491   221.563000
2013-01-01 03:00:00 Adversity                     0.125125   1802   474.850000
                    Affluent                      0.176192   2168   796.340000
                    Comfortable                   0.139624   1491   429.742000
2013-01-01 03:30:00 Adversity                     0.120120   1802   216.456000
                    Affluent                      0.166645   2168   361.286000
                    Comfortable                   0.129687   1491   193.364000
2013-01-01 04:00:00 Adversity                     0.111574   1802   417.513000
                    Affluent                      0.157608   2168   702.980000
                    Comfortable                   0.124264   1491   378.641000
2013-01-01 04:30:00 Adversity                     0.104656   1802   188.591000
                    Affluent                      0.154741   2168   335.479000
                    Comfortable                   0.121266   1491   180.807000
2013-01-01 05:00:00 Adversity                     0.105881   1802   379.387999
                    Affluent                      0.152225   2168   665.501999

In [261]:
data.head(32)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-06-01 00:00:00 Adversity                     0.133975   1744     233.653
                    Affluent                      0.163082   2094     341.494
                    Comfortable                   0.149617   1464     219.039
2013-06-01 00:30:00 Adversity                     0.121666   1741     211.820
                    Affluent                      0.145448   2097     305.004
                    Comfortable                   0.129906   1465     190.313
2013-06-01 01:00:00 Adversity                     0.109176   1741     190.076
                    Affluent                      0.133252   2097     279.430
                    Comfortable                   0.114858   1465     168.267
2013-06-01 01:30:00 Adversity                     0.098853   1741     172.103
                    Affluent                      0.125695   2098     263.709
                    Comfortable                   0.107143   1465     156.964
2013-06-01 02:00:00 Adversity                     0.090982   1741     158.400
                    Affluent                      0.119745   2098     251.224
                    Comfortable                   0.098397   1465     144.151
2013-06-01 02:30:00 Adversity                     0.088407   1741     153.917
                    Affluent                      0.114816   2098     240.885
                    Comfortable                   0.097484   1465     142.814
2013-06-01 03:00:00 Adversity                     0.086038   1741     149.792
                    Affluent                      0.112292   2098     235.589
                    Comfortable                   0.095969   1465     140.595
2013-06-01 03:30:00 Adversity                     0.084352   1741     146.856
                    Affluent                      0.109898   2098     230.566
                    Comfortable                   0.095129   1465     139.364
2013-06-01 04:00:00 Adversity                     0.084625   1741     147.332
                    Affluent                      0.110347   2098     231.509
                    Comfortable                   0.096157   1465     140.870
2013-06-01 04:30:00 Adversity                     0.084956   1741     147.908
                    Affluent                      0.116328   2098     244.056
                    Comfortable                   0.097427   1465     142.730
2013-06-01 05:00:00 Adversity                     0.092357   1741     160.794
                    Affluent                      0.120612   2098     253.045

In [21]:
for i in data.index:
    if i[0][-5:-3] == '30':
        data.drop(i, inplace=True)

In [22]:
data_hourly = data

In [23]:
data_hourly.head(12)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801     387.007
                    Affluent                      0.284734   2168     617.303
                    Comfortable                   0.244850   1491     365.072
2013-01-01 01:00:00 Adversity                     0.184186   1802     697.746
                    Affluent                      0.239097   2168    1083.860
                    Comfortable                   0.204080   1491     635.971
2013-01-01 02:00:00 Adversity                     0.152026   1802     573.236
                    Affluent                      0.206345   2168     930.710
                    Comfortable                   0.166306   1491     524.400
2013-01-01 03:00:00 Adversity                     0.125125   1802     474.850
                    Affluent                      0.176192   2168     796.340
                    Comfortable                   0.139624   1491     429.742

In [156]:
# adding :30 data to :00 data
# this loop takes a while
def calc_hourly(df):
    for n,i in enumerate(df.index):
        if i[0][-5:-3] == '30':
            if len(df) - n > 6:  
                df.energy_sum[n+6] = df.energy_sum[n+6] + df.energy_sum[n]
    return df
            
# dropping :30 data
# this loop (predictably) also takes a while
def drop_half_hour(df):
    for i in df.index:
        if i[0][-5:-3] == '30':
            df.drop(i, inplace=True)
    return df

In [52]:
data.tail(12)

                                            KWH/hh (per half hour)   LCLid  \
DateTime            Acorn_grouped stdorToU
2012-03-31 23:00:00 Adversity     Std                      0.156160    269
                                  ToU                      0.162066     44
                    Affluent      Std                      0.214208    540
                                  ToU                      0.203554    113
                    Comfortable   Std                      0.153119    211
                                  ToU                      0.212259     49
2012-03-31 23:30:00 Adversity     Std                      0.146916    269
                                  ToU                      0.176337     44
                    Affluent      Std                      0.202857    540
                                  ToU                      0.179605    113
                    Comfortable   Std                      0.133600    211
                                  ToU                      0.181256     49

                                            energy_sum
DateTime            Acorn_grouped stdorToU
2012-03-31 23:00:00 Adversity     Std        42.007052
                                  ToU         7.130900
                    Affluent      Std       115.672533
                                  ToU        23.001567
                    Comfortable   Std        32.308005
                                  ToU        10.400701
2012-03-31 23:30:00 Adversity     Std        39.520393
                                  ToU         7.758833
                    Affluent      Std       109.542588
                                  ToU        20.295406
                    Comfortable   Std        28.189589
                                  ToU         8.881532

In [157]:
# adding :30 data to :00 data
# this takes a while
data_hourly = calc_hourly(data)

C:\Users\Hrafnkell\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [159]:
data.head(12)

                                   KWH/hh (per half hour)   LCLid   energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801   387.007000
                    Affluent                      0.284734   2168   617.303000
                    Comfortable                   0.244850   1491   365.072000
2013-01-01 00:30:00 Adversity                     0.203020   1802   365.842000
                    Affluent                      0.260838   2168   565.497001
                    Comfortable                   0.222459   1491   331.687000
2013-01-01 01:00:00 Adversity                     0.184186   1802   331.904000
                    Affluent                      0.239097   2168   518.363000
                    Comfortable                   0.204080   1491   304.284000
2013-01-01 01:30:00 Adversity                     0.166085   1802   665.128000
                    Affluent                      0.222950   2168  1048.852000
                    Comfortable                   0.185404   1491   608.125000

In [319]:
data_hourly.head(12)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-06-01 00:00:00 Adversity                     0.133975   1744     233.653
                    Affluent                      0.163082   2094     341.494
                    Comfortable                   0.149617   1464     219.039
2013-06-01 01:00:00 Adversity                     0.109176   1741     401.896
                    Affluent                      0.133252   2097     584.434
                    Comfortable                   0.114858   1465     358.580
2013-06-01 02:00:00 Adversity                     0.090982   1741     330.503
                    Affluent                      0.119745   2098     514.933
                    Comfortable                   0.098397   1465     301.115
2013-06-01 03:00:00 Adversity                     0.086038   1741     303.709
                    Affluent                      0.112292   2098     476.474
                    Comfortable                   0.095969   1465     283.409

In [54]:
# dropping :30 data
# this (predictably) also takes a while
data_hourly = drop_half_hour(data_hourly)

In [24]:
data_hourly['KWH/h (per hour)'] = data.energy_sum / data.LCLid
data_hourly.drop(['KWH/hh (per half hour) ', 'energy_sum'], axis=1, inplace=True)
data_hourly.rename(columns={"KWH/h (per hour)": "nrg_cons", "LCLid": "N"}, inplace=True)

In [26]:
# make sure to give the output file the right name
output = 'C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2013.csv'

data_hourly.to_csv(output)

In [27]:
data_hourly = pd.read_csv('C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2013.csv')

In [28]:
data_hourly.tail(12)

                  DateTime Acorn_grouped     N  nrg_cons
26268  2013-12-31 20:00:00     Adversity  1672  0.605864
26269  2013-12-31 20:00:00      Affluent  1972  0.843795
26270  2013-12-31 20:00:00   Comfortable  1404  0.753226
26271  2013-12-31 21:00:00     Adversity  1672  0.538989
26272  2013-12-31 21:00:00      Affluent  1972  0.758781
26273  2013-12-31 21:00:00   Comfortable  1404  0.673501
26274  2013-12-31 22:00:00     Adversity  1672  0.493306
26275  2013-12-31 22:00:00      Affluent  1972  0.676161
26276  2013-12-31 22:00:00   Comfortable  1404  0.615117
26277  2013-12-31 23:00:00     Adversity  1672  0.448380
26278  2013-12-31 23:00:00      Affluent  1972  0.605961
26279  2013-12-31 23:00:00   Comfortable  1404  0.550477

In [29]:
# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=data_hourly.loc[x.index, "N"])

# Define a dictionary with the functions to apply for a given column:
f = {'nrg_cons': wm}

# Groupby and aggregate with your dictionary:
df_grouped = data_hourly.groupby(["DateTime", "Acorn_grouped"]).agg(f)

df_grouped.head(6)

                                   nrg_cons
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity      0.214885
                    Affluent       0.284734
                    Comfortable    0.244850
2013-01-01 01:00:00 Adversity      0.387206
                    Affluent       0.499935
                    Comfortable    0.426540

In [31]:
df_grouped.unstack(1).columns[1]

('nrg_cons', 'Affluent')

In [33]:
nrg_regress = df_grouped.unstack(1)
nrg_regress.head(6)

                     nrg_cons
Acorn_grouped       Adversity  Affluent Comfortable
DateTime
2013-01-01 00:00:00  0.214885  0.284734    0.244850
2013-01-01 01:00:00  0.387206  0.499935    0.426540
2013-01-01 02:00:00  0.318111  0.429294    0.351710
2013-01-01 03:00:00  0.263513  0.367315    0.288224
2013-01-01 04:00:00  0.231694  0.324253    0.253951
2013-01-01 05:00:00  0.210537  0.306966    0.237889

In [34]:
nrg_regress.describe()

                  nrg_cons
Acorn_grouped    Adversity     Affluent  Comfortable
count          8760.000000  8760.000000  8760.000000
mean              0.353557     0.478031     0.418136
std               0.118243     0.177126     0.154049
min               0.159034     0.202070     0.181026
25%               0.268118     0.351326     0.305762
50%               0.344563     0.448056     0.400605
75%               0.420296     0.580185     0.504342
max               0.732754     1.114286     0.945851

In [35]:
# make sure to give the outputfile the right name
output = 'C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_final_2013.csv'

nrg_regress.to_csv(output)