In [32]:
import numpy as np
import pandas as pd

In [33]:
data = pd.read_csv('../Final_Data/final1213.csv', parse_dates=["Datetime"])

In [31]:
data.tail()

,Datetime,Dew_Point_F,Humidity,Temperature_F,Wind_Speed_MPH,Low_Income,High_Income,Middle_Income,Overall
17499,2013-12-31 19:00:00,39.2,87,42.8,9.2,0.645365,0.891387,0.806535,0.786268
17500,2013-12-31 20:00:00,37.4,81,42.8,8.1,0.605864,0.843795,0.753226,0.739797
17501,2013-12-31 21:00:00,37.4,81,42.8,6.9,0.538989,0.758781,0.673501,0.662263
17502,2013-12-31 22:00:00,41.0,87,44.6,12.7,0.493306,0.676161,0.615117,0.598618
17503,2013-12-31 23:00:00,42.8,87,46.4,10.4,0.448380,0.605961,0.550477,0.538336

## Tests

In [6]:
data = pd.read_csv("/home/cusp/hh1713/Taming-the-Peak/Final_Data/energy_final_2011_12.csv")

In [ ]:
data = pd.read_csv("../../../../gws/projects/project-taming_the_peak/workspace/share/Power-Networks-LCL-June2015(withAcornGps).csv_Pieces/")

In [2]:
pwd

u'/wingrdp/homedirs/hh1713/Taming-the-Peak/Code'

In [2]:
dirname = "E:\Taming_The_Peak\low-carbon-london-data-168-files\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces"
#dirname = "~\Desktop\CUSP\Applied_Data_Science\Project\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces"
filename = 'Power-Networks-LCL-June2015(withAcornGps)v2_168.csv'

# dtype = {'LCLid': category,
#          'stdorToU' : pd.category,
#          'DateTime' : np.datetime64,
#          'KWH/hh (per half hour) ': float,
#          'Acorn' : category,
#          'Acorn_grouped' : category 
#         }

nrg = pd.read_csv(dirname + "/" + filename)

In [4]:
nrg.columns

Index([u'LCLid', u'stdorToU', u'DateTime', u'KWH/hh (per half hour) ',
       u'Acorn', u'Acorn_grouped'],
      dtype='object')

In [6]:
 nrg.DateTime = pd.to_datetime(nrg.DateTime)

# nrg.info()

In [6]:
min(nrg.DateTime)

Timestamp('2012-04-16 11:00:00')

In [4]:
max(nrg.DateTime)

'2014-02-28 00:00:00.0000000'

In [10]:
maxdate = pd.Timestamp('2013-06-01 00:00:00')
mindate = pd.Timestamp('2013-06-01 00:00:00')
maxdate

Timestamp('2013-06-01 00:00:00')

In [50]:
winter1314_init = '2013-12-01 00:00:00'
winter1314_end = '2014-03-31 23:59:00'

nrg_1314 = nrg[nrg.DateTime > winter1314_init]

nrg_1314 = nrg_1314[nrg_1314.DateTime < winter1314_end]

nrg_1314.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111122 entries, 19884 to 983824
Data columns (total 6 columns):
LCLid                      111122 non-null object
stdorToU                   111122 non-null object
DateTime                   111122 non-null datetime64[ns]
KWH/hh (per half hour)     111122 non-null object
Acorn                      111122 non-null object
Acorn_grouped              111122 non-null object
dtypes: datetime64[ns](1), object(5)
memory usage: 5.9+ MB

## Getting the data

In [7]:
# getting all the winter1314 data

# path and file name
dirname = "../../../../gws/projects/project-taming_the_peak/workspace/share/Power-Networks-LCL-June2015(withAcornGps).csv_Pieces/"
#dirname = "~\Desktop\CUSP\Applied_Data_Science\Project\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces"
filename = 'Power-Networks-LCL-June2015(withAcornGps)v2_'

# initial and final day for each season
#day_init = '2013-06-01 00:00:00'
#day_end = '2013-08-31 23:59:59'
day_init = '2012-01-01 00:00:00'
day_end = '2012-12-31 23:59:59'

# initializing the data frame
nrg_year = pd.DataFrame()

#initializing min and max date
# maxdate = pd.Timestamp('2013-06-01 00:00:00')
# mindate = pd.Timestamp('2013-06-01 00:00:00')

for i in range(1, 169):
    nrg = pd.read_csv(dirname + "/" + filename + str(i) + ".csv")
    nrg.DateTime = pd.to_datetime(nrg.DateTime)
    
    #if min(nrg.DateTime) < mindate:
    #    mindate = min(nrg.DateTime)
    #if max(nrg.DateTime) > maxdate:
    #    maxdate = max(nrg.DateTime)
        
    nrg_ = nrg[nrg.DateTime >= day_init]
    nrg_ = nrg_[nrg_.DateTime < day_end]
    
    if i == 1:
        nrg_year = nrg_
    else:
        nrg_year = pd.concat([nrg_year, nrg_], axis=0)
        
    print '\r',"%",str((i)*100./168),

% 100.0

In [8]:
nrg_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60410060 entries, 0 to 932473
Data columns (total 6 columns):
LCLid                      object
stdorToU                   object
DateTime                   datetime64[ns]
KWH/hh (per half hour)     object
Acorn                      object
Acorn_grouped              object
dtypes: datetime64[ns](1), object(5)
memory usage: 3.2+ GB

In [15]:
nrg_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31817220 entries, 2351 to 932473
Data columns (total 6 columns):
LCLid                      object
stdorToU                   object
DateTime                   datetime64[ns]
KWH/hh (per half hour)     object
Acorn                      object
Acorn_grouped              object
dtypes: datetime64[ns](1), object(5)
memory usage: 1.7+ GB

In [9]:
nrg_year.head()

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn,Acorn_grouped
0,MAC000002,Std,2012-10-12 00:30:00,0,ACORN-A,Affluent
1,MAC000002,Std,2012-10-12 01:00:00,0,ACORN-A,Affluent
2,MAC000002,Std,2012-10-12 01:30:00,0,ACORN-A,Affluent
3,MAC000002,Std,2012-10-12 02:00:00,0,ACORN-A,Affluent
4,MAC000002,Std,2012-10-12 02:30:00,0,ACORN-A,Affluent

In [10]:
nrg_year.tail()

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn,Acorn_grouped
932469,MAC005565,ToU,2012-06-21 05:30:00,1.022,ACORN-C,Affluent
932470,MAC005565,ToU,2012-06-21 06:00:00,0.188,ACORN-C,Affluent
932471,MAC005565,ToU,2012-06-21 06:30:00,0.073,ACORN-C,Affluent
932472,MAC005565,ToU,2012-06-21 07:00:00,0.025,ACORN-C,Affluent
932473,MAC005565,ToU,2012-12-19 12:32:41,Null,ACORN-C,Affluent

In [9]:
# print mindate, maxdate

NameError: name 'mindate' is not defined

\>> print mindate, maxdate

\>> 2011-11-23 09:00:00 2014-02-28 00:00:00

In [28]:
nrg_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31817220 entries, 2351 to 932473
Data columns (total 6 columns):
LCLid                      object
stdorToU                   object
DateTime                   datetime64[ns]
KWH/hh (per half hour)     object
Acorn                      object
Acorn_grouped              object
dtypes: datetime64[ns](1), object(5)
memory usage: 1.7+ GB

In [11]:
nrg_year['KWH/hh (per half hour) '] = pd.to_numeric(nrg_year['KWH/hh (per half hour) '], errors = 'coerce')

In [12]:
nan_loc = nrg_year['KWH/hh (per half hour) '].isnull()

In [13]:
nrg_year[nan_loc].head(20)

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn,Acorn_grouped
3240,MAC000002,Std,2012-12-19 12:37:27,NaN,ACORN-A,Affluent
38710,MAC000003,Std,2012-12-19 12:37:26,NaN,ACORN-P,Adversity
70386,MAC000004,Std,2012-12-19 12:32:40,NaN,ACORN-E,Affluent
106846,MAC000006,Std,2012-12-19 12:37:26,NaN,ACORN-Q,Adversity
131897,MAC000007,Std,2012-12-19 12:37:27,NaN,ACORN-H,Comfortable
163719,MAC000008,Std,2012-12-19 12:37:27,NaN,ACORN-H,Comfortable
183152,MAC000009,Std,2012-12-19 12:37:27,NaN,ACORN-L,Adversity
208192,MAC000010,Std,2012-12-19 12:37:27,NaN,ACORN-H,Comfortable
231899,MAC000011,Std,2012-12-19 12:37:28,NaN,ACORN-N,Adversity
256569,MAC000012,Std,2012-12-19 12:37:28,NaN,ACORN-E,Affluent
286182,MAC000013,Std,2012-12-19 12:37:27,NaN,ACORN-K,Adversity
325260,MAC000016,Std,2012-12-18 15:13:40,NaN,ACORN-K,Adversity
344744,MAC000018,Std,2012-12-18 15:13:41,NaN,ACORN-E,Affluent
383815,MAC000019,Std,2012-12-18 15:13:41,NaN,ACORN-K,Adversity
422896,MAC000020,Std,2012-12-18 15:13:41,NaN,ACORN-J,Comfortable
461974,MAC000021,Std,2012-12-18 15:13:41,NaN,ACORN-E,Affluent
501052,MAC000022,Std,2012-12-18 15:13:41,NaN,ACORN-Q,Adversity
540115,MAC000023,Std,2012-12-18 15:13:41,NaN,ACORN-U,ACORN-U
579142,MAC000024,Std,2012-12-18 15:13:41,NaN,ACORN-E,Affluent
618213,MAC000025,Std,2012-12-18 15:13:41,NaN,ACORN-P,Adversity

In [14]:
nrg_year.dropna(inplace = True)
nrg_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 60404512 entries, 0 to 932472
Data columns (total 6 columns):
LCLid                      object
stdorToU                   object
DateTime                   datetime64[ns]
KWH/hh (per half hour)     float64
Acorn                      object
Acorn_grouped              object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 3.2+ GB

In [15]:
nrg_year.groupby(['DateTime', 'Acorn', 'Acorn_grouped', 'stdorToU']).aggregate(np.mean).head()

                                           KWH/hh (per half hour)
DateTime   Acorn   Acorn_grouped stdorToU
2012-01-01 ACORN-A Affluent      Std                      0.495875
                                 ToU                      0.279000
           ACORN-B Affluent      Std                      0.156000
           ACORN-C Affluent      Std                      0.264400
                                 ToU                      0.349000

In [16]:
grouped_nrg = pd.concat([nrg_year.groupby(['DateTime', 'Acorn', 'Acorn_grouped', 'stdorToU']).aggregate(np.mean),
        nrg_year.groupby(['DateTime', 'Acorn', 'Acorn_grouped', 'stdorToU']).count().iloc[:,0]], axis = 1)

In [17]:
grouped_nrg.head(30)

                                           KWH/hh (per half hour)   LCLid
DateTime   Acorn   Acorn_grouped stdorToU
2012-01-01 ACORN-A Affluent      Std                      0.495875      8
                                 ToU                      0.279000      1
           ACORN-B Affluent      Std                      0.156000      1
           ACORN-C Affluent      Std                      0.264400      5
                                 ToU                      0.349000      2
           ACORN-D Affluent      Std                      0.303333     12
                                 ToU                      0.201600      5
           ACORN-E Affluent      Std                      0.256932    117
                                 ToU                      0.227313     16
           ACORN-F Comfortable   Std                      0.184787     61
                                 ToU                      0.256900     10
           ACORN-G Comfortable   Std                      0.187286     14
                                 ToU                      0.077000      1
           ACORN-H Comfortable   Std                      0.195778     18
                                 ToU                      0.236250      4
           ACORN-J Comfortable   Std                      0.107500      4
                                 ToU                      0.117000      2
           ACORN-K Adversity     Std                      0.229733     15
                                 ToU                      0.112000      1
           ACORN-L Adversity     Std                      0.333444     18
                                 ToU                      0.219800      5
           ACORN-M Adversity     Std                      0.379000      5
           ACORN-N Adversity     Std                      0.177500      2
                                 ToU                      0.553333      3
           ACORN-O Adversity     Std                      0.063000      3
                                 ToU                      0.068000      1
           ACORN-P Adversity     Std                      0.085000      4
                                 ToU                      0.009000      1
           ACORN-Q Adversity     Std                      0.179889     63
                                 ToU                      0.285250      4

In [19]:
grouped_nrg.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 631093 entries, (2012-01-01 00:00:00, ACORN-A, Affluent, Std) to (2012-12-31 23:30:00, ACORN-U, ACORN-U, ToU)
Data columns (total 2 columns):
KWH/hh (per half hour)     631093 non-null float64
LCLid                      631093 non-null int64
dtypes: float64(1), int64(1)
memory usage: 14.4+ MB

In [20]:
max(grouped_nrg.index)

(Timestamp('2012-12-31 23:30:00'), 'ACORN-U', 'ACORN-U', 'ToU')

In [21]:
min(grouped_nrg.index)

(Timestamp('2012-01-01 00:00:00'), 'ACORN-A', 'Affluent', 'Std')

In [26]:
len(nrg_year.DateTime.unique())

17568

In [27]:
output = '../Final_Data/grouped_2012.csv'
#output = 'C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_summer_2013.csv'

#output = "E:\Taming_The_Peak\low-carbon-london-data-168-files\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces\grouped_2013.csv"
#dirname = "~\Desktop\CUSP\Applied_Data_Science\Project\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces"
#filename = 'Power-Networks-LCL-June2015(withAcornGps)v2_168.csv'

grouped_nrg.to_csv(output)