In [1]:
import numpy as np
import pandas as pd

## Tests

In [2]:
dirname = "E:\Taming_The_Peak\low-carbon-london-data-168-files\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces"
#dirname = "~\Desktop\CUSP\Applied_Data_Science\Project\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces"
filename = 'Power-Networks-LCL-June2015(withAcornGps)v2_168.csv'

# dtype = {'LCLid': category,
#          'stdorToU' : pd.category,
#          'DateTime' : np.datetime64,
#          'KWH/hh (per half hour) ': float,
#          'Acorn' : category,
#          'Acorn_grouped' : category 
#         }

nrg = pd.read_csv(dirname + "/" + filename)

In [4]:
nrg.columns

Index([u'LCLid', u'stdorToU', u'DateTime', u'KWH/hh (per half hour) ',
       u'Acorn', u'Acorn_grouped'],
      dtype='object')

In [6]:
 nrg.DateTime = pd.to_datetime(nrg.DateTime)

# nrg.info()

In [6]:
min(nrg.DateTime)

Timestamp('2012-04-16 11:00:00')

In [4]:
max(nrg.DateTime)

'2014-02-28 00:00:00.0000000'

In [10]:
maxdate = pd.Timestamp('2013-06-01 00:00:00')
mindate = pd.Timestamp('2013-06-01 00:00:00')
maxdate

Timestamp('2013-06-01 00:00:00')

In [50]:
winter1314_init = '2013-12-01 00:00:00'
winter1314_end = '2014-03-31 23:59:00'

nrg_1314 = nrg[nrg.DateTime > winter1314_init]

nrg_1314 = nrg_1314[nrg_1314.DateTime < winter1314_end]

nrg_1314.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 111122 entries, 19884 to 983824
Data columns (total 6 columns):
LCLid                      111122 non-null object
stdorToU                   111122 non-null object
DateTime                   111122 non-null datetime64[ns]
KWH/hh (per half hour)     111122 non-null object
Acorn                      111122 non-null object
Acorn_grouped              111122 non-null object
dtypes: datetime64[ns](1), object(5)
memory usage: 5.9+ MB

## Getting the data

In [3]:
# getting all the winter1314 data

# path and file name
dirname = "E:\Taming_The_Peak\low-carbon-london-data-168-files\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces"
#dirname = "~\Desktop\CUSP\Applied_Data_Science\Project\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces"
filename = 'Power-Networks-LCL-June2015(withAcornGps)v2_'

# initial and final day for each season
day_init = '2013-06-01 00:00:00'
day_end = '2013-08-31 23:59:59'
#day_init = '2013-01-01 00:00:00'
#day_end = '2013-12-31 23:59:59'

# initializing the data frame
nrg_year = pd.DataFrame()

#initializing min and max date
# maxdate = pd.Timestamp('2013-06-01 00:00:00')
# mindate = pd.Timestamp('2013-06-01 00:00:00')

for i in range(1, 169):
    nrg = pd.read_csv(dirname + "/" + filename + str(i) + ".csv")
    nrg.DateTime = pd.to_datetime(nrg.DateTime)
    
    #if min(nrg.DateTime) < mindate:
    #    mindate = min(nrg.DateTime)
    #if max(nrg.DateTime) > maxdate:
    #    maxdate = max(nrg.DateTime)
        
    nrg_ = nrg[nrg.DateTime >= day_init]
    nrg_ = nrg_[nrg_.DateTime < day_end]
    
    if i == 1:
        nrg_year = nrg_
    else:
        nrg_year = pd.concat([nrg_year, nrg_], axis=0)
        
    print '\r',"%",str((i)*100./168),

% 100.0

In [4]:
nrg_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23420946 entries, 11093 to 923781
Data columns (total 6 columns):
LCLid                      object
stdorToU                   object
DateTime                   datetime64[ns]
KWH/hh (per half hour)     object
Acorn                      object
Acorn_grouped              object
dtypes: datetime64[ns](1), object(5)
memory usage: 1.2+ GB

In [15]:
nrg_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31817220 entries, 2351 to 932473
Data columns (total 6 columns):
LCLid                      object
stdorToU                   object
DateTime                   datetime64[ns]
KWH/hh (per half hour)     object
Acorn                      object
Acorn_grouped              object
dtypes: datetime64[ns](1), object(5)
memory usage: 1.7+ GB

In [5]:
nrg_year.tail()

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn,Acorn_grouped
923777,MAC005564,ToU,2013-08-31 21:30:00,0.188,ACORN-Q,Adversity
923778,MAC005564,ToU,2013-08-31 22:00:00,0.106,ACORN-Q,Adversity
923779,MAC005564,ToU,2013-08-31 22:30:00,0.074,ACORN-Q,Adversity
923780,MAC005564,ToU,2013-08-31 23:00:00,0.013,ACORN-Q,Adversity
923781,MAC005564,ToU,2013-08-31 23:30:00,0.068,ACORN-Q,Adversity

In [9]:
# print mindate, maxdate

NameError: name 'mindate' is not defined

\>> print mindate, maxdate

\>> 2011-11-23 09:00:00 2014-02-28 00:00:00

In [28]:
nrg_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 31817220 entries, 2351 to 932473
Data columns (total 6 columns):
LCLid                      object
stdorToU                   object
DateTime                   datetime64[ns]
KWH/hh (per half hour)     object
Acorn                      object
Acorn_grouped              object
dtypes: datetime64[ns](1), object(5)
memory usage: 1.7+ GB

In [6]:
nrg_year['KWH/hh (per half hour) '] = pd.to_numeric(nrg_year['KWH/hh (per half hour) '], errors = 'coerce')

In [7]:
nan_loc = nrg_year['KWH/hh (per half hour) '].isnull()

In [8]:
nrg_year[nan_loc].head(20)

,LCLid,stdorToU,DateTime,KWH/hh (per half hour),Acorn,Acorn_grouped
802006,MAC002328,Std,2013-07-05 13:15:05,NaN,ACORN-Q,Adversity
10182,MAC004069,Std,2013-07-05 13:15:05,NaN,ACORN-U,ACORN-U
932659,MAC003155,ToU,2013-07-05 12:54:31,NaN,ACORN-Q,Adversity

In [9]:
nrg_year.dropna(inplace = True)
nrg_year.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23420943 entries, 11093 to 923781
Data columns (total 6 columns):
LCLid                      object
stdorToU                   object
DateTime                   datetime64[ns]
KWH/hh (per half hour)     float64
Acorn                      object
Acorn_grouped              object
dtypes: datetime64[ns](1), float64(1), object(4)
memory usage: 1.2+ GB

In [10]:
nrg_year.groupby(['DateTime', 'Acorn', 'Acorn_grouped', 'stdorToU']).aggregate(np.mean).head()

                                           KWH/hh (per half hour)
DateTime   Acorn   Acorn_grouped stdorToU
2013-06-01 ACORN-  ACORN-        ToU                      0.173000
           ACORN-A Affluent      Std                      0.252991
                                 ToU                      0.227838
           ACORN-B Affluent      Std                      0.133300
                                 ToU                      0.091500

In [11]:
grouped_nrg = pd.concat([nrg_year.groupby(['DateTime', 'Acorn', 'Acorn_grouped', 'stdorToU']).aggregate(np.mean),
        nrg_year.groupby(['DateTime', 'Acorn', 'Acorn_grouped', 'stdorToU']).count().iloc[:,0]], axis = 1)

In [12]:
grouped_nrg.head(30)

                                           KWH/hh (per half hour)   LCLid
DateTime   Acorn   Acorn_grouped stdorToU
2013-06-01 ACORN-  ACORN-        ToU                      0.173000      1
           ACORN-A Affluent      Std                      0.252991    114
                                 ToU                      0.227838     37
           ACORN-B Affluent      Std                      0.133300     20
                                 ToU                      0.091500      4
           ACORN-C Affluent      Std                      0.154395    114
                                 ToU                      0.125848     33
           ACORN-D Affluent      Std                      0.186324    204
                                 ToU                      0.133342     73
           ACORN-E Affluent      Std                      0.165525   1163
                                 ToU                      0.118033    332
           ACORN-F Comfortable   Std                      0.135716    518
                                 ToU                      0.141208    149
           ACORN-G Comfortable   Std                      0.145571    154
                                 ToU                      0.107891     46
           ACORN-H Comfortable   Std                      0.150814    366
                                 ToU                      0.123358     81
           ACORN-I Comfortable   Std                      0.094293     41
                                 ToU                      0.130250      8
           ACORN-J Comfortable   Std                      0.373054     74
                                 ToU                      0.096778     27
           ACORN-K Adversity     Std                      0.132022    137
                                 ToU                      0.125350     20
           ACORN-L Adversity     Std                      0.132907    257
                                 ToU                      0.104822     73
           ACORN-M Adversity     Std                      0.116946     93
                                 ToU                      0.105765     17
           ACORN-N Adversity     Std                      0.128740    123
                                 ToU                      0.140440     25
           ACORN-O Adversity     Std                      0.150902     82

In [13]:
grouped_nrg.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 163392 entries, (2013-06-01 00:00:00, ACORN-, ACORN-, ToU) to (2013-08-31 23:30:00, ACORN-U, ACORN-U, ToU)
Data columns (total 2 columns):
KWH/hh (per half hour)     163392 non-null float64
LCLid                      163392 non-null int64
dtypes: float64(1), int64(1)
memory usage: 3.7+ MB

In [14]:
max(grouped_nrg.index)

(Timestamp('2013-08-31 23:30:00'), 'ACORN-U', 'ACORN-U', 'ToU')

In [15]:
min(grouped_nrg.index)

(Timestamp('2013-06-01 00:00:00'), 'ACORN-', 'ACORN-', 'ToU')

In [20]:
len(nrg_year.DateTime.unique())

17520

In [16]:
output = 'C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_summer_2013.csv'
grouped_nrg.to_csv(output)
#output = "E:\Taming_The_Peak\low-carbon-london-data-168-files\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces\grouped_2013.csv"
#dirname = "~\Desktop\CUSP\Applied_Data_Science\Project\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces\Power-Networks-LCL-June2015(withAcornGps).csv_Pieces"
#filename = 'Power-Networks-LCL-June2015(withAcornGps)v2_168.csv'