In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Final_Data/final1213_reshaped.csv')

In [6]:
data.head(6)

,Unnamed: 0,Datetime,Dew_Point_F,Humidity,Temperature_F,Wind_Speed_MPH,Consumption,Income,Overall,Diff,Diff_perc,Month,DayofWeek,Hour,WeekofYear,Year
0,0,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.190114,Medium,0.231749,-0.041635,-0.179655,1,6,0,52,2012
1,1,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.221192,Low,0.231749,-0.010557,-0.045553,1,6,0,52,2012
2,2,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.268072,High,0.231749,0.036323,0.156735,1,6,0,52,2012
3,3,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.355447,Medium,0.550101,-0.194654,-0.353851,1,6,1,52,2012
4,4,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.616456,Low,0.550101,0.066355,0.120623,1,6,1,52,2012
5,5,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.633311,High,0.550101,0.083210,0.151264,1,6,1,52,2012

In [10]:
year2012 = pd.read_csv('../Final_Data/grouped_2012.csv')
year2013 = pd.read_csv('../Final_Data/grouped_2013.csv')

In [14]:
year2012.head()

,DateTime,Acorn,Acorn_grouped,stdorToU,KWH/hh (per half hour),LCLid
0,2012-01-01 00:00:00,ACORN-A,Affluent,Std,0.495875,8
1,2012-01-01 00:00:00,ACORN-A,Affluent,ToU,0.279000,1
2,2012-01-01 00:00:00,ACORN-B,Affluent,Std,0.156000,1
3,2012-01-01 00:00:00,ACORN-C,Affluent,Std,0.264400,5
4,2012-01-01 00:00:00,ACORN-C,Affluent,ToU,0.349000,2

In [19]:
year2012.groupby(['DateTime', 'Acorn_grouped', 'stdorToU']).sum().head(12)

                                            KWH/hh (per half hour)   LCLid
DateTime            Acorn_grouped stdorToU
2012-01-01 00:00:00 ACORN-U       Std                      0.179000      4
                                  ToU                      0.021000      1
                    Adversity     Std                      1.447567    110
                                  ToU                      1.247383     15
                    Affluent      Std                      1.476540    143
                                  ToU                      1.056912     24
                    Comfortable   Std                      0.675350     97
                                  ToU                      0.687150     17
2012-01-01 00:30:00 ACORN-U       Std                      0.329750      4
                                  ToU                      0.065000      1
                    Adversity     Std                      1.523004    110
                                  ToU                      1.451067     15

In [18]:
year2013.groupby(['DateTime', 'Acorn_grouped', 'stdorToU']).sum().head(12)

                                            KWH/hh (per half hour)   LCLid
DateTime            Acorn_grouped stdorToU
2013-01-01 00:00:00 ACORN-U       Std                      0.281658     38
                                  ToU                      0.220000     10
                    Adversity     Std                      1.794055   1505
                                  ToU                      1.310778    296
                    Affluent      Std                      1.629151   1683
                                  ToU                      1.634195    485
                    Comfortable   Std                      1.529581   1171
                                  ToU                      0.974965    320
2013-01-01 00:30:00 ACORN-U       Std                      0.271211     38
                                  ToU                      0.223800     10
                    Adversity     Std                      1.669714   1506
                                  ToU                      1.301760    296

In [20]:
list_of_interest = ['Adversity', 'Affluent', 'Comfortable']

In [21]:
year2012 = year2012[year2012['Acorn_grouped'].isin(list_of_interest)]
year2013 = year2013[year2013['Acorn_grouped'].isin(list_of_interest)]

In [25]:
list = [year2012, year2013]

In [51]:
df = pd.concat(list)

In [52]:
df.head(6)

,DateTime,Acorn,Acorn_grouped,stdorToU,KWH/hh (per half hour),LCLid
0,2012-01-01 00:00:00,ACORN-A,Affluent,Std,0.495875,8
1,2012-01-01 00:00:00,ACORN-A,Affluent,ToU,0.279000,1
2,2012-01-01 00:00:00,ACORN-B,Affluent,Std,0.156000,1
3,2012-01-01 00:00:00,ACORN-C,Affluent,Std,0.264400,5
4,2012-01-01 00:00:00,ACORN-C,Affluent,ToU,0.349000,2
5,2012-01-01 00:00:00,ACORN-D,Affluent,Std,0.303333,12

In [53]:
df.tail(6)

,DateTime,Acorn,Acorn_grouped,stdorToU,KWH/hh (per half hour),LCLid
642567,2013-12-31 23:30:00,ACORN-O,Adversity,Std,0.226571,77
642568,2013-12-31 23:30:00,ACORN-O,Adversity,ToU,0.205125,16
642569,2013-12-31 23:30:00,ACORN-P,Adversity,Std,0.088470,83
642570,2013-12-31 23:30:00,ACORN-P,Adversity,ToU,0.070350,20
642571,2013-12-31 23:30:00,ACORN-Q,Adversity,Std,0.198287,648
642572,2013-12-31 23:30:00,ACORN-Q,Adversity,ToU,0.157405,111

In [54]:
df['total_energy'] = df['KWH/hh (per half hour) '] * df.LCLid

In [55]:
df.drop(['KWH/hh (per half hour) '], axis=1, inplace=True)

In [56]:
df.head()

              DateTime    Acorn Acorn_grouped stdorToU  LCLid  total_energy
0  2012-01-01 00:00:00  ACORN-A      Affluent      Std      8         3.967
1  2012-01-01 00:00:00  ACORN-A      Affluent      ToU      1         0.279
2  2012-01-01 00:00:00  ACORN-B      Affluent      Std      1         0.156
3  2012-01-01 00:00:00  ACORN-C      Affluent      Std      5         1.322
4  2012-01-01 00:00:00  ACORN-C      Affluent      ToU      2         0.698

In [57]:
df['concat'] = pd.concat(df.Acorn_grouped, df.stdorToU)

TypeError: first argument must be an iterable of pandas objects, you passed an object of type "Series"

In [41]:
df.groupby(['DateTime', 'Acorn_grouped', 'stdorToU']).sum().tail(6)

                                            LCLid  total_energy
DateTime            Acorn_grouped stdorToU
2013-12-31 23:30:00 Adversity     ToU         280        49.743
                    Affluent      Std        1517       416.371
                                  ToU         455       115.879
                    Comfortable   Std        1107       292.688
                                  ToU         297        64.539

In [58]:
df = df.groupby(['DateTime', 'Acorn_grouped', 'stdorToU']).sum()

In [59]:
df.head(6)

                                            LCLid  total_energy
DateTime            Acorn_grouped stdorToU
2012-01-01 00:00:00 Adversity     Std         110        23.560
                                  ToU          15         4.089
                    Affluent      Std         143        39.146
                                  ToU          24         5.622
                    Comfortable   Std          97        17.848
                                  ToU          17         3.825

In [65]:
df.reset_index(inplace=True)

In [66]:
df.columns

Index([u'DateTime', u'Acorn_grouped', u'stdorToU', u'LCLid', u'total_energy'], dtype='object')

In [67]:
df['concat'] = df.Acorn_grouped + df.stdorToU

In [70]:
df.groupby(['DateTime', 'concat']).sum().head(12)

                                    LCLid  total_energy
DateTime            concat
2012-01-01 00:00:00 AdversityStd      110        23.560
                    AdversityToU       15         4.089
                    AffluentStd       143        39.146
                    AffluentToU        24         5.622
                    ComfortableStd     97        17.848
                    ComfortableToU     17         3.825
2012-01-01 00:30:00 AdversityStd      110        33.990
                    AdversityToU       15         4.909
                    AffluentStd       143        48.884
                    AffluentToU        24         5.123
                    ComfortableStd     97        18.174
                    ComfortableToU     17         3.230