In [1]:
import numpy as np
import pandas as pd
import datetime as DT

In [3]:
# get the grouped energy data

df = pd.read_csv("../Final_Data/energy_hourly_2012.csv",
                               parse_dates=[0], infer_datetime_format=True)
#df = pd.read_csv("~/Desktop/CUSP/Applied_Data_Science/Taming-the-Peak/Final_Data/grouped_nrg_winter1314.csv",
#                               parse_dates=[0], infer_datetime_format=True)

df.head()

             DateTime Acorn_grouped    N  nrg_cons
0 2012-01-01 00:00:00     Adversity  125  0.221192
1 2012-01-01 00:00:00      Affluent  167  0.268072
2 2012-01-01 00:00:00   Comfortable  114  0.190114
3 2012-01-01 01:00:00     Adversity  125  0.616456
4 2012-01-01 01:00:00      Affluent  167  0.633311

In [69]:
#df.rename(columns={'Unnamed: 0':'DateTime'}, inplace=True)
df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [4]:
len(df.DateTime.unique())

8784

In [5]:
df.groupby(["DateTime", "Acorn_grouped"]).sum().head(6)

                                     N  nrg_cons
DateTime            Acorn_grouped
2012-01-01 00:00:00 Adversity      125  0.221192
                    Affluent       167  0.268072
                    Comfortable    114  0.190114
2012-01-01 01:00:00 Adversity      125  0.616456
                    Affluent       167  0.633311
                    Comfortable    114  0.355447

In [6]:
df['total_nrg'] = df.N * df.nrg_cons

In [7]:
df.head(6)

             DateTime Acorn_grouped    N  nrg_cons  total_nrg
0 2012-01-01 00:00:00     Adversity  125  0.221192     27.649
1 2012-01-01 00:00:00      Affluent  167  0.268072     44.768
2 2012-01-01 00:00:00   Comfortable  114  0.190114     21.673
3 2012-01-01 01:00:00     Adversity  125  0.616456     77.057
4 2012-01-01 01:00:00      Affluent  167  0.633311    105.763
5 2012-01-01 01:00:00   Comfortable  114  0.355447     40.521

In [8]:
df.drop(['nrg_cons', 'Acorn_grouped'], axis=1, inplace=True)

In [9]:
df = df.groupby(["DateTime"]).sum()

In [10]:
df.head()

                       N  total_nrg
DateTime
2012-01-01 00:00:00  406     94.090
2012-01-01 01:00:00  406    223.341
2012-01-01 02:00:00  406    189.506
2012-01-01 03:00:00  406    155.548
2012-01-01 04:00:00  406    127.034

In [11]:
df['nrg_cons'] = df.total_nrg/df.N

In [12]:
df.drop(['N', 'total_nrg'], axis=1, inplace=True)

In [13]:
df.head()

                     nrg_cons
DateTime
2012-01-01 00:00:00  0.231749
2012-01-01 01:00:00  0.550101
2012-01-01 02:00:00  0.466764
2012-01-01 03:00:00  0.383123
2012-01-01 04:00:00  0.312892

In [14]:
# creating a stupid column to merge on
df['DateTime'] = df.index

In [15]:
df.head()

                     nrg_cons            DateTime
DateTime
2012-01-01 00:00:00  0.231749 2012-01-01 00:00:00
2012-01-01 01:00:00  0.550101 2012-01-01 01:00:00
2012-01-01 02:00:00  0.466764 2012-01-01 02:00:00
2012-01-01 03:00:00  0.383123 2012-01-01 03:00:00
2012-01-01 04:00:00  0.312892 2012-01-01 04:00:00

In [16]:
# get the rouped energy data

df2 = pd.read_csv("../Final_Data/energy_final_2012.csv",
                               parse_dates=[0], infer_datetime_format=True)
#df = pd.read_csv("~/Desktop/CUSP/Applied_Data_Science/Taming-the-Peak/Final_Data/grouped_nrg_winter1314.csv",
#                               parse_dates=[0], infer_datetime_format=True)

df2.head()

            Unnamed: 0      nrg_cons      nrg_cons.1      nrg_cons.2
0        Acorn_grouped     Adversity        Affluent     Comfortable
1             DateTime           NaN             NaN             NaN
2  2012-01-01 00:00:00  0.2211920008  0.268071856288  0.190114035088
3  2012-01-01 01:00:00  0.6164560032  0.633311377844  0.355447368421
4  2012-01-01 02:00:00  0.4839759984  0.570035928743  0.296605263158

In [17]:
df2.rename(columns={'Unnamed: 0' : 'DateTime'}, inplace=True)

In [18]:
type(df.DateTime[1])

pandas.tslib.Timestamp

In [19]:
type(df2.DateTime[5])

str

In [20]:
df2.drop([0, 1], inplace=True)

In [21]:
df2.DateTime = pd.to_datetime(df2.DateTime)

In [22]:
type(df2.DateTime[5])

pandas.tslib.Timestamp

In [23]:
df2.head()

             DateTime      nrg_cons      nrg_cons.1      nrg_cons.2
2 2012-01-01 00:00:00  0.2211920008  0.268071856288  0.190114035088
3 2012-01-01 01:00:00  0.6164560032  0.633311377844  0.355447368421
4 2012-01-01 02:00:00  0.4839759984  0.570035928743  0.296605263158
5 2012-01-01 03:00:00      0.375616  0.489017963473  0.236228070175
6 2012-01-01 04:00:00  0.3249359984  0.376808383832  0.206052631579

In [24]:
merged = pd.merge(left=df2, right=df, how='left', on='DateTime')

In [58]:
#merged.drop(['DateTime'], axis=1, inplace=True)

In [26]:
merged.columns = ['DateTime', 'Adversity', 'Affluent', 'Comfortable', 'Overall']

In [27]:
merged.head()

             DateTime     Adversity        Affluent     Comfortable   Overall
0 2012-01-01 00:00:00  0.2211920008  0.268071856288  0.190114035088  0.231749
1 2012-01-01 01:00:00  0.6164560032  0.633311377844  0.355447368421  0.550101
2 2012-01-01 02:00:00  0.4839759984  0.570035928743  0.296605263158  0.466764
3 2012-01-01 03:00:00      0.375616  0.489017963473  0.236228070175  0.383123
4 2012-01-01 04:00:00  0.3249359984  0.376808383832  0.206052631579  0.312892

In [28]:
merged.tail()

,DateTime,Adversity,Affluent,Comfortable,Overall
8779,2012-12-31 19:00:00,0.646344253137,0.88985931762,0.792584841851,0.782972
8780,2012-12-31 20:00:00,0.59491726824,0.839217712223,0.73626375859,0.730519
8781,2012-12-31 21:00:00,0.533350915825,0.739589021679,0.650877263581,0.647336
8782,2012-12-31 22:00:00,0.478388672682,0.673836715359,0.600838363783,0.589433
8783,2012-12-31 23:00:00,0.429234869239,0.592213561162,0.524956404963,0.520088

In [29]:
output = "../Final_Data/energy_final_2012.csv"

merged.to_csv(output)