In [1]:
import pandas as pd
import numpy as np

In [183]:
data = pd.read_csv('C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\grouped_2013.csv')

In [184]:
list_of_interest = ['Adversity', 'Affluent', 'Comfortable']

In [185]:
len(data)

642575

In [186]:
# selecting only Acorns of interest - dropping incomplete data
data = data[data['Acorn_grouped'].isin(stk_list)]

In [187]:
len(data)

595680

In [188]:
data.head()

,DateTime,Acorn,Acorn_grouped,stdorToU,KWH/hh (per half hour),LCLid
0,2013-01-01 00:00:00,ACORN-A,Affluent,Std,0.486932,117
1,2013-01-01 00:00:00,ACORN-A,Affluent,ToU,0.404921,38
2,2013-01-01 00:00:00,ACORN-B,Affluent,Std,0.264095,21
3,2013-01-01 00:00:00,ACORN-B,Affluent,ToU,0.514500,4
4,2013-01-01 00:00:00,ACORN-C,Affluent,Std,0.288457,116

In [189]:
data.drop(['stdorToU'], axis=1, inplace=True)
data.drop(['Acorn'], axis=1, inplace=True)

In [190]:
data.head()

              DateTime Acorn_grouped  KWH/hh (per half hour)   LCLid
0  2013-01-01 00:00:00      Affluent                 0.486932    117
1  2013-01-01 00:00:00      Affluent                 0.404921     38
2  2013-01-01 00:00:00      Affluent                 0.264095     21
3  2013-01-01 00:00:00      Affluent                 0.514500      4
4  2013-01-01 00:00:00      Affluent                 0.288457    116

In [191]:
data['energy_sum'] = data['KWH/hh (per half hour) ']*data.LCLid

In [192]:
data.head()

,DateTime,Acorn_grouped,KWH/hh (per half hour),LCLid,energy_sum
0,2013-01-01 00:00:00,Affluent,0.486932,117,56.971
1,2013-01-01 00:00:00,Affluent,0.404921,38,15.387
2,2013-01-01 00:00:00,Affluent,0.264095,21,5.546
3,2013-01-01 00:00:00,Affluent,0.514500,4,2.058
4,2013-01-01 00:00:00,Affluent,0.288457,116,33.461

In [193]:
data = data.groupby(['DateTime', 'Acorn_grouped']).sum()

In [194]:
data.head(6)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     3.104833   1801  387.007000
                    Affluent                      3.263346   2168  617.303000
                    Comfortable                   2.504545   1491  365.072000
2013-01-01 00:30:00 Adversity                     2.971474   1802  365.842000
                    Affluent                      3.229644   2168  565.497001
                    Comfortable                   2.231013   1491  331.687000

In [195]:
data['KWH/hh (per half hour) '] = data.energy_sum / data.LCLid

In [196]:
data.head(6)

                                   KWH/hh (per half hour)   LCLid  energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801  387.007000
                    Affluent                      0.284734   2168  617.303000
                    Comfortable                   0.244850   1491  365.072000
2013-01-01 00:30:00 Adversity                     0.203020   1802  365.842000
                    Affluent                      0.260838   2168  565.497001
                    Comfortable                   0.222459   1491  331.687000

In [197]:
len(data)

52560

In [198]:
smalldata = data.head(64)

In [93]:
data.head(6)

                                   KWH/hh (per half hour)   LCLid
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.221774   1801
                    Affluent                      0.326335   2168
                    Comfortable                   0.250455   1491
2013-01-01 00:30:00 Adversity                     0.212248   1802
                    Affluent                      0.322964   2168
                    Comfortable                   0.223101   1491

In [83]:
data['energy_sum'] = (data['KWH/hh (per half hour) '] * data.LCLid)

In [86]:
data.head()

                                            KWH/hh (per half hour)   LCLid  \
DateTime            Acorn_grouped stdorToU
2013-01-01 00:00:00 Adversity     Std                      0.256294   1505
                                  ToU                      0.187254    296
                    Affluent      Std                      0.325830   1683
                                  ToU                      0.326839    485
                    Comfortable   Std                      0.305916   1171

                                            energy_sum
DateTime            Acorn_grouped stdorToU
2013-01-01 00:00:00 Adversity     Std       385.721905
                                  ToU        55.427183
                    Affluent      Std       548.372370
                                  ToU       158.516877
                    Comfortable   Std       358.227785

In [ ]:
data.groupby()

In [174]:
smalldata = data.head(30)

In [179]:
smalldata

                                   KWH/hh (per half hour)   LCLid   energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801   387.007000
                    Affluent                      0.284734   2168   617.303000
                    Comfortable                   0.244850   1491   365.072000
2013-01-01 00:30:00 Adversity                     0.203020   1802   365.842000
                    Affluent                      0.260838   2168   565.497001
                    Comfortable                   0.222459   1491   331.687000
2013-01-01 01:00:00 Adversity                     0.184186   1802   331.904000
                    Affluent                      0.239097   2168   518.363000
                    Comfortable                   0.204080   1491   304.284000
2013-01-01 01:30:00 Adversity                     0.166085   1802   665.128000
                    Affluent                      0.222950   2168  1048.852000
                    Comfortable                   0.185404   1491   608.125000
2013-01-01 02:00:00 Adversity                     0.152026   1802   273.950000
                    Affluent                      0.206345   2168   447.355001
                    Comfortable                   0.166306   1491   247.962000
2013-01-01 02:30:00 Adversity                     0.138388   1802   914.503000
                    Affluent                      0.191123   2168  1463.207000
                    Comfortable                   0.148600   1491   829.688000
2013-01-01 03:00:00 Adversity                     0.125125   1802   225.475000
                    Affluent                      0.176192   2168   381.985000
                    Comfortable                   0.139624   1491   208.179000
2013-01-01 03:30:00 Adversity                     0.120120   1802  1130.959000
                    Affluent                      0.166645   2168  1824.493000
                    Comfortable                   0.129687   1491  1023.051999
2013-01-01 04:00:00 Adversity                     0.111574   1802   201.057000
                    Affluent                      0.157608   2168   341.694000
                    Comfortable                   0.124264   1491   185.277000
2013-01-01 04:30:00 Adversity                     0.104656   1802  1319.549999
                    Affluent                      0.154741   2168  2159.972000
                    Comfortable                   0.121266   1491  1203.858999

In [182]:
smalldata

                                   KWH/hh (per half hour)   LCLid  \
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801
                    Affluent                      0.284734   2168
                    Comfortable                   0.244850   1491
2013-01-01 00:30:00 Adversity                     0.203020   1802
                    Affluent                      0.260838   2168
                    Comfortable                   0.222459   1491
2013-01-01 01:00:00 Adversity                     0.184186   1802
                    Affluent                      0.239097   2168
                    Comfortable                   0.204080   1491
2013-01-01 01:30:00 Adversity                     0.166085   1802
                    Affluent                      0.222950   2168
                    Comfortable                   0.185404   1491
2013-01-01 02:00:00 Adversity                     0.152026   1802
                    Affluent                      0.206345   2168
                    Comfortable                   0.166306   1491
2013-01-01 02:30:00 Adversity                     0.138388   1802
                    Affluent                      0.191123   2168
                    Comfortable                   0.148600   1491
2013-01-01 03:00:00 Adversity                     0.125125   1802
                    Affluent                      0.176192   2168
                    Comfortable                   0.139624   1491
2013-01-01 03:30:00 Adversity                     0.120120   1802
                    Affluent                      0.166645   2168
                    Comfortable                   0.129687   1491
2013-01-01 04:00:00 Adversity                     0.111574   1802
                    Affluent                      0.157608   2168
                    Comfortable                   0.124264   1491
2013-01-01 04:30:00 Adversity                     0.104656   1802
                    Affluent                      0.154741   2168
                    Comfortable                   0.121266   1491

                                     energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity        387.007000
                    Affluent         617.303000
                    Comfortable      365.072000
2013-01-01 00:30:00 Adversity        365.842000
                    Affluent         565.497001
                    Comfortable      331.687000
2013-01-01 01:00:00 Adversity        331.904000
                    Affluent         518.363000
                    Comfortable      304.284000
2013-01-01 01:30:00 Adversity       1396.811999
                    Affluent        2179.846001
                    Comfortable     1271.498999
2013-01-01 02:00:00 Adversity        273.950000
                    Affluent         447.355001
                    Comfortable      247.962000
2013-01-01 02:30:00 Adversity       3342.284999
                    Affluent        5257.402002
                    Comfortable     3040.998998
2013-01-01 03:00:00 Adversity        225.475000
                    Affluent         381.985000
                    Comfortable      208.179000
2013-01-01 03:30:00 Adversity       6418.716998
                    Affluent       10159.451003
                    Comfortable     5833.550997
2013-01-01 04:00:00 Adversity        201.057000
                    Affluent         341.694000
                    Comfortable      185.277000
2013-01-01 04:30:00 Adversity      10814.698996
                    Affluent       17221.472004
                    Comfortable     9829.961995

In [181]:
for n,i in enumerate(smalldata.index):
        if i[0][-5:-3] == '30':
            if len(smalldata) - n > 6:  
                smalldata.energy_sum[n+6] = smalldata.energy_sum[n+6] + smalldata.energy_sum[n]

C:\Users\Hrafnkell\Anaconda2\lib\site-packages\ipykernel\__main__.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [172]:
data.index[10]

('2013-01-01 01:30:00', 'Affluent')

In [173]:
data.index[10][0][-5:-3]

'30'

In [156]:
# adding :30 data to :00 data
# this loop takes a while
def calc_hourly(df):
    for n,i in enumerate(df.index):
        if i[0][-5:-3] == '30':
            if len(df) - n > 6:  
                df.energy_sum[n+6] = df.energy_sum[n+6] + df.energy_sum[n]
    return df
            
# dropping :30 data
# this loop (predictably) also takes a while
def drop_half_hour(df):
    for i in df.index:
        if i[0][-5:-3] == '30':
            df.drop(i, inplace=True)
    return df

In [52]:
data.tail(12)

                                            KWH/hh (per half hour)   LCLid  \
DateTime            Acorn_grouped stdorToU
2012-03-31 23:00:00 Adversity     Std                      0.156160    269
                                  ToU                      0.162066     44
                    Affluent      Std                      0.214208    540
                                  ToU                      0.203554    113
                    Comfortable   Std                      0.153119    211
                                  ToU                      0.212259     49
2012-03-31 23:30:00 Adversity     Std                      0.146916    269
                                  ToU                      0.176337     44
                    Affluent      Std                      0.202857    540
                                  ToU                      0.179605    113
                    Comfortable   Std                      0.133600    211
                                  ToU                      0.181256     49

                                            energy_sum
DateTime            Acorn_grouped stdorToU
2012-03-31 23:00:00 Adversity     Std        42.007052
                                  ToU         7.130900
                    Affluent      Std       115.672533
                                  ToU        23.001567
                    Comfortable   Std        32.308005
                                  ToU        10.400701
2012-03-31 23:30:00 Adversity     Std        39.520393
                                  ToU         7.758833
                    Affluent      Std       109.542588
                                  ToU        20.295406
                    Comfortable   Std        28.189589
                                  ToU         8.881532

In [157]:
# adding :30 data to :00 data
# this takes a while
data_hourly = calc_hourly(data)

C:\Users\Hrafnkell\Anaconda2\lib\site-packages\ipykernel\__main__.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

In [159]:
data.head(12)

                                   KWH/hh (per half hour)   LCLid   energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801   387.007000
                    Affluent                      0.284734   2168   617.303000
                    Comfortable                   0.244850   1491   365.072000
2013-01-01 00:30:00 Adversity                     0.203020   1802   365.842000
                    Affluent                      0.260838   2168   565.497001
                    Comfortable                   0.222459   1491   331.687000
2013-01-01 01:00:00 Adversity                     0.184186   1802   331.904000
                    Affluent                      0.239097   2168   518.363000
                    Comfortable                   0.204080   1491   304.284000
2013-01-01 01:30:00 Adversity                     0.166085   1802   665.128000
                    Affluent                      0.222950   2168  1048.852000
                    Comfortable                   0.185404   1491   608.125000

In [158]:
data_hourly.head(12)

                                   KWH/hh (per half hour)   LCLid   energy_sum
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity                     0.214885   1801   387.007000
                    Affluent                      0.284734   2168   617.303000
                    Comfortable                   0.244850   1491   365.072000
2013-01-01 00:30:00 Adversity                     0.203020   1802   365.842000
                    Affluent                      0.260838   2168   565.497001
                    Comfortable                   0.222459   1491   331.687000
2013-01-01 01:00:00 Adversity                     0.184186   1802   331.904000
                    Affluent                      0.239097   2168   518.363000
                    Comfortable                   0.204080   1491   304.284000
2013-01-01 01:30:00 Adversity                     0.166085   1802   665.128000
                    Affluent                      0.222950   2168  1048.852000
                    Comfortable                   0.185404   1491   608.125000

In [54]:
# dropping :30 data
# this (predictably) also takes a while
data_hourly = drop_half_hour(data_hourly)

In [55]:
data_hourly['KWH/h (per hour)'] = data.energy_sum / data.LCLid
data_hourly.drop(['KWH/hh (per half hour) ', 'energy_sum'], axis=1, inplace=True)
data_hourly.rename(columns={"KWH/h (per hour)": "nrg_cons", "LCLid": "N"}, inplace=True)

In [56]:
# make sure to give the output file the right name
# output = 'C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2011_12.csv'

data_hourly.to_csv(output)

In [11]:
data_hourly = pd.read_csv('C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2012_13.csv')

In [12]:
data_hourly.tail(12)

                  DateTime Acorn_grouped stdorToU     N  nrg_cons
17412  2013-03-31 22:00:00     Adversity      Std  1469  0.478732
17413  2013-03-31 22:00:00     Adversity      ToU   290  0.494667
17414  2013-03-31 22:00:00      Affluent      Std  1639  0.836877
17415  2013-03-31 22:00:00      Affluent      ToU   482  0.753179
17416  2013-03-31 22:00:00   Comfortable      Std  1158  0.620571
17417  2013-03-31 22:00:00   Comfortable      ToU   317  0.534165
17418  2013-03-31 23:00:00     Adversity      Std  1469  0.393757
17419  2013-03-31 23:00:00     Adversity      ToU   290  0.430765
17420  2013-03-31 23:00:00      Affluent      Std  1639  0.674796
17421  2013-03-31 23:00:00      Affluent      ToU   482  0.605012
17422  2013-03-31 23:00:00   Comfortable      Std  1158  0.462319
17423  2013-03-31 23:00:00   Comfortable      ToU   317  0.454068

In [13]:
# Define a lambda function to compute the weighted mean:
wm = lambda x: np.average(x, weights=data_hourly.loc[x.index, "N"])

# Define a dictionary with the functions to apply for a given column:
f = {'nrg_cons': wm}

# Groupby and aggregate with your dictionary:
df_grouped = data_hourly.groupby(["DateTime", "Acorn_grouped"]).agg(f)

df_grouped.head(6)

                                   nrg_cons
DateTime            Acorn_grouped
2012-12-01 00:00:00 Adversity      0.182274
                    Affluent       0.292200
                    Comfortable    0.216309
2012-12-01 01:00:00 Adversity      0.420802
                    Affluent       0.472136
                    Comfortable    0.479867

In [14]:
df_grouped.unstack(1).columns[1]

('nrg_cons', 'Affluent')

In [15]:
nrg_regress = df_grouped.unstack(1)
nrg_regress.head(6)

                     nrg_cons
Acorn_grouped       Adversity  Affluent Comfortable
DateTime
2012-12-01 00:00:00  0.182274  0.292200    0.216309
2012-12-01 01:00:00  0.420802  0.472136    0.479867
2012-12-01 02:00:00  0.332003  0.379601    0.374745
2012-12-01 03:00:00  0.276788  0.347464    0.312078
2012-12-01 04:00:00  0.251663  0.343927    0.295329
2012-12-01 05:00:00  0.250724  0.341324    0.291761

In [16]:
nrg_regress.describe()

                  nrg_cons
Acorn_grouped    Adversity     Affluent  Comfortable
count          2904.000000  2904.000000  2904.000000
mean              0.440457     0.682170     0.532425
std               0.135898     0.245831     0.176367
min               0.182274     0.285940     0.216309
25%               0.346252     0.464757     0.407250
50%               0.428091     0.680822     0.522395
75%               0.539547     0.844567     0.654505
max               0.775011     1.340511     0.970214

In [17]:
# make sure to give the outputfile the right name
output = 'C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_final_2012_13.csv'

nrg_regress.to_csv(output)