In [2]:
import numpy as np
import pandas as pd
import datetime as DT

In [10]:
# get the rouped energy data

df = pd.read_csv("C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_hourly_2013.csv",
                               parse_dates=[0], infer_datetime_format=True)
#df = pd.read_csv("~/Desktop/CUSP/Applied_Data_Science/Taming-the-Peak/Final_Data/grouped_nrg_winter1314.csv",
#                               parse_dates=[0], infer_datetime_format=True)

df.head()

             DateTime Acorn_grouped     N  nrg_cons
0 2013-01-01 00:00:00     Adversity  1801  0.214885
1 2013-01-01 00:00:00      Affluent  2168  0.284734
2 2013-01-01 00:00:00   Comfortable  1491  0.244850
3 2013-01-01 01:00:00     Adversity  1802  0.387206
4 2013-01-01 01:00:00      Affluent  2168  0.499935

In [6]:
#df.rename(columns={'Unnamed: 0':'DateTime'}, inplace=True)
#df.drop(['Unnamed: 0'], axis=1, inplace=True)

In [11]:
len(df.DateTime.unique())

8760

In [12]:
df.groupby(["DateTime", "Acorn_grouped"]).sum().head(6)

                                      N  nrg_cons
DateTime            Acorn_grouped
2013-01-01 00:00:00 Adversity      1801  0.214885
                    Affluent       2168  0.284734
                    Comfortable    1491  0.244850
2013-01-01 01:00:00 Adversity      1802  0.387206
                    Affluent       2168  0.499935
                    Comfortable    1491  0.426540

In [13]:
df['total_nrg'] = df.N * df.nrg_cons

In [7]:
df.head(6)

             DateTime Acorn_grouped     N  nrg_cons  total_nrg
0 2013-06-01 00:00:00     Adversity  1744  0.133975    233.653
1 2013-06-01 00:00:00      Affluent  2094  0.163082    341.494
2 2013-06-01 00:00:00   Comfortable  1464  0.149617    219.039
3 2013-06-01 01:00:00     Adversity  1741  0.230842    401.896
4 2013-06-01 01:00:00      Affluent  2097  0.278700    584.434
5 2013-06-01 01:00:00   Comfortable  1465  0.244765    358.580

In [14]:
df.drop(['nrg_cons', 'Acorn_grouped'], axis=1, inplace=True)

In [15]:
df = df.groupby(["DateTime"]).sum()

In [16]:
df.head()

                        N    total_nrg
DateTime
2013-01-01 00:00:00  5460  1369.382001
2013-01-01 01:00:00  5461  2417.577000
2013-01-01 02:00:00  5461  2028.346000
2013-01-01 03:00:00  5461  1700.932000
2013-01-01 04:00:00  5461  1499.134000

In [17]:
df['nrg_cons'] = df.total_nrg/df.N

In [18]:
df.drop(['N', 'total_nrg'], axis=1, inplace=True)

In [19]:
df.head()

                     nrg_cons
DateTime
2013-01-01 00:00:00  0.250803
2013-01-01 01:00:00  0.442699
2013-01-01 02:00:00  0.371424
2013-01-01 03:00:00  0.311469
2013-01-01 04:00:00  0.274516

In [20]:
# creating a stupid column to merge on
df['DateTime'] = df.index

In [21]:
df.head()

                     nrg_cons            DateTime
DateTime
2013-01-01 00:00:00  0.250803 2013-01-01 00:00:00
2013-01-01 01:00:00  0.442699 2013-01-01 01:00:00
2013-01-01 02:00:00  0.371424 2013-01-01 02:00:00
2013-01-01 03:00:00  0.311469 2013-01-01 03:00:00
2013-01-01 04:00:00  0.274516 2013-01-01 04:00:00

In [22]:
# get the rouped energy data

df2 = pd.read_csv("C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_final_2013.csv",
                               parse_dates=[0], infer_datetime_format=True)
#df = pd.read_csv("~/Desktop/CUSP/Applied_Data_Science/Taming-the-Peak/Final_Data/grouped_nrg_winter1314.csv",
#                               parse_dates=[0], infer_datetime_format=True)

df2.head()

            Unnamed: 0        nrg_cons      nrg_cons.1      nrg_cons.2
0        Acorn_grouped       Adversity        Affluent     Comfortable
1             DateTime             NaN             NaN             NaN
2  2013-01-01 00:00:00  0.214884508773  0.284733856135  0.244850436083
3  2013-01-01 01:00:00  0.387206437348  0.499935424447  0.426539906036
4  2013-01-01 02:00:00  0.318110987569  0.429294280581  0.351710261636

In [23]:
df2['DateTime'] = df2['Unnamed: 0']

In [24]:
type(df.DateTime[1])

pandas.tslib.Timestamp

In [25]:
type(df2.DateTime[5])

str

In [26]:
df2.drop([0, 1], inplace=True)

In [27]:
df2.DateTime = pd.to_datetime(df2.DateTime)

In [28]:
df2.head()

,Unnamed: 0,nrg_cons,nrg_cons.1,nrg_cons.2,DateTime
2,2013-01-01 00:00:00,0.214884508773,0.284733856135,0.244850436083,2013-01-01 00:00:00
3,2013-01-01 01:00:00,0.387206437348,0.499935424447,0.426539906036,2013-01-01 01:00:00
4,2013-01-01 02:00:00,0.318110987569,0.429294280581,0.351710261636,2013-01-01 02:00:00
5,2013-01-01 03:00:00,0.263512763707,0.367315498063,0.288224010731,2013-01-01 03:00:00
6,2013-01-01 04:00:00,0.231694228468,0.324252767574,0.25395103937,2013-01-01 04:00:00

In [29]:
merged = pd.merge(left=df2, right=df, how='left', on='DateTime')

In [31]:
merged.drop(['DateTime'], axis=1, inplace=True)

In [32]:
merged.columns = ['DateTime', 'Adversity', 'Affluent', 'Comfortable', 'Overall']

In [33]:
merged.head()

,DateTime,Adversity,Affluent,Comfortable,Overall
0,2013-01-01 00:00:00,0.214884508773,0.284733856135,0.244850436083,0.250803
1,2013-01-01 01:00:00,0.387206437348,0.499935424447,0.426539906036,0.442699
2,2013-01-01 02:00:00,0.318110987569,0.429294280581,0.351710261636,0.371424
3,2013-01-01 03:00:00,0.263512763707,0.367315498063,0.288224010731,0.311469
4,2013-01-01 04:00:00,0.231694228468,0.324252767574,0.25395103937,0.274516

In [34]:
merged.tail()

,DateTime,Adversity,Affluent,Comfortable,Overall
8755,2013-12-31 19:00:00,0.645365213031,0.891387423326,0.806535281112,0.786268
8756,2013-12-31 20:00:00,0.60586423421,0.843794624696,0.753225782835,0.739797
8757,2013-12-31 21:00:00,0.538989234509,0.758781440416,0.673500712963,0.662263
8758,2013-12-31 22:00:00,0.493306219497,0.676161257809,0.61511680933,0.598618
8759,2013-12-31 23:00:00,0.448380382775,0.605961460396,0.550477207835,0.538336

In [36]:
output = "C:\\Users\\Hrafnkell\\Documents\\GitHub\\Taming-the-Peak\\Final_Data\\energy_final_2013.csv"

merged.to_csv(output)