In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('../Final_Data/final1213_reshaped.csv')

In [3]:
data.head(6)

,Unnamed: 0,Datetime,Dew_Point_F,Humidity,Temperature_F,Wind_Speed_MPH,Consumption,Income,Overall,Diff,Diff_perc,Month,DayofWeek,Hour,WeekofYear,Year
0,0,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.190114,Medium,0.231749,-0.041635,-0.179655,1,6,0,52,2012
1,1,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.221192,Low,0.231749,-0.010557,-0.045553,1,6,0,52,2012
2,2,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.268072,High,0.231749,0.036323,0.156735,1,6,0,52,2012
3,3,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.355447,Medium,0.550101,-0.194654,-0.353851,1,6,1,52,2012
4,4,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.616456,Low,0.550101,0.066355,0.120623,1,6,1,52,2012
5,5,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.633311,High,0.550101,0.083210,0.151264,1,6,1,52,2012

In [4]:
year2012 = pd.read_csv('../Final_Data/grouped_2012.csv')
year2013 = pd.read_csv('../Final_Data/grouped_2013.csv')

In [5]:
year2012.head()

,DateTime,Acorn,Acorn_grouped,stdorToU,KWH/hh (per half hour),LCLid
0,2012-01-01 00:00:00,ACORN-A,Affluent,Std,0.495875,8
1,2012-01-01 00:00:00,ACORN-A,Affluent,ToU,0.279000,1
2,2012-01-01 00:00:00,ACORN-B,Affluent,Std,0.156000,1
3,2012-01-01 00:00:00,ACORN-C,Affluent,Std,0.264400,5
4,2012-01-01 00:00:00,ACORN-C,Affluent,ToU,0.349000,2

In [6]:
year2012.groupby(['DateTime', 'Acorn_grouped', 'stdorToU']).sum().head(12)

                                            KWH/hh (per half hour)   LCLid
DateTime            Acorn_grouped stdorToU
2012-01-01 00:00:00 ACORN-U       Std                      0.179000      4
                                  ToU                      0.021000      1
                    Adversity     Std                      1.447567    110
                                  ToU                      1.247383     15
                    Affluent      Std                      1.476540    143
                                  ToU                      1.056912     24
                    Comfortable   Std                      0.675350     97
                                  ToU                      0.687150     17
2012-01-01 00:30:00 ACORN-U       Std                      0.329750      4
                                  ToU                      0.065000      1
                    Adversity     Std                      1.523004    110
                                  ToU                      1.451067     15

In [7]:
year2013.groupby(['DateTime', 'Acorn_grouped', 'stdorToU']).sum().head(12)

                                            KWH/hh (per half hour)   LCLid
DateTime            Acorn_grouped stdorToU
2013-01-01 00:00:00 ACORN-U       Std                      0.281658     38
                                  ToU                      0.220000     10
                    Adversity     Std                      1.794055   1505
                                  ToU                      1.310778    296
                    Affluent      Std                      1.629151   1683
                                  ToU                      1.634195    485
                    Comfortable   Std                      1.529581   1171
                                  ToU                      0.974965    320
2013-01-01 00:30:00 ACORN-U       Std                      0.271211     38
                                  ToU                      0.223800     10
                    Adversity     Std                      1.669714   1506
                                  ToU                      1.301760    296

In [8]:
list_of_interest = ['Adversity', 'Affluent', 'Comfortable']

In [9]:
year2012 = year2012[year2012['Acorn_grouped'].isin(list_of_interest)]
year2013 = year2013[year2013['Acorn_grouped'].isin(list_of_interest)]

In [10]:
list = [year2012, year2013]

In [11]:
df = pd.concat(list)

In [12]:
df['total_energy'] = df['KWH/hh (per half hour) '] * df.LCLid

In [13]:
df.drop(['KWH/hh (per half hour) '], axis=1, inplace=True)

In [14]:
df.groupby(['DateTime', 'Acorn_grouped', 'stdorToU']).sum().tail(6)

                                            LCLid  total_energy
DateTime            Acorn_grouped stdorToU
2013-12-31 23:30:00 Adversity     Std        1392       298.654
                                  ToU         280        49.743
                    Affluent      Std        1517       416.371
                                  ToU         455       115.879
                    Comfortable   Std        1107       292.688
                                  ToU         297        64.539

In [15]:
df = df.groupby(['DateTime', 'Acorn_grouped', 'stdorToU']).sum()

In [16]:
df.head(6)

                                            LCLid  total_energy
DateTime            Acorn_grouped stdorToU
2012-01-01 00:00:00 Adversity     Std         110        23.560
                                  ToU          15         4.089
                    Affluent      Std         143        39.146
                                  ToU          24         5.622
                    Comfortable   Std          97        17.848
                                  ToU          17         3.825

In [17]:
df.reset_index(inplace=True)

In [18]:
df.columns

Index([u'DateTime', u'Acorn_grouped', u'stdorToU', u'LCLid', u'total_energy'], dtype='object')

In [19]:
df['concat'] = df.Acorn_grouped + df.stdorToU

In [20]:
df.groupby(['DateTime', 'concat']).sum().head(12)

                                    LCLid  total_energy
DateTime            concat
2012-01-01 00:00:00 AdversityStd      110        23.560
                    AdversityToU       15         4.089
                    AffluentStd       143        39.146
                    AffluentToU        24         5.622
                    ComfortableStd     97        17.848
                    ComfortableToU     17         3.825
2012-01-01 00:30:00 AdversityStd      110        33.990
                    AdversityToU       15         4.909
                    AffluentStd       143        48.884
                    AffluentToU        24         5.123
                    ComfortableStd     97        18.174
                    ComfortableToU     17         3.230

In [21]:
df.DateTime = pd.to_datetime(df.DateTime)

In [22]:
df_half_hourly.drop(['Acorn_grouped', 'stdorToU'], axis=1, inplace=True)
df_hourly.drop(['Acorn_grouped', 'stdorToU'], axis=1, inplace=True)

NameError: name 'df_half_hourly' is not defined

In [45]:
df_hourly = df[df.DateTime.dt.minute == 0]
df_half_hourly = df[df.DateTime.dt.minute == 30]

In [46]:
df_half_hourly.DateTime[6] + pd.tseries.timedeltas.to_timedelta(30, unit='m')

Timestamp('2012-01-01 01:00:00')

In [47]:
df_half_hourly.DateTime = df_half_hourly.DateTime + pd.tseries.timedeltas.to_timedelta(30, unit='m')

In [48]:
df_hourly.head(8)

,DateTime,Acorn_grouped,stdorToU,LCLid,total_energy,concat
0,2012-01-01 00:00:00,Adversity,Std,110,23.560,AdversityStd
1,2012-01-01 00:00:00,Adversity,ToU,15,4.089,AdversityToU
2,2012-01-01 00:00:00,Affluent,Std,143,39.146,AffluentStd
3,2012-01-01 00:00:00,Affluent,ToU,24,5.622,AffluentToU
4,2012-01-01 00:00:00,Comfortable,Std,97,17.848,ComfortableStd
5,2012-01-01 00:00:00,Comfortable,ToU,17,3.825,ComfortableToU
12,2012-01-01 01:00:00,Adversity,Std,110,33.483,AdversityStd
13,2012-01-01 01:00:00,Adversity,ToU,15,4.675,AdversityToU

In [49]:
energy = np.array(df_half_hourly.iloc[:-6, 4]) + np.array(df_hourly.iloc[6:, 4])

In [51]:
df_hourly.drop([0, 1, 2, 3, 4, 5], inplace=True)

ValueError: labels [0 1 2 3 4 5] not contained in axis

In [52]:
df_hourly.head(12)

,DateTime,Acorn_grouped,stdorToU,LCLid,total_energy,concat
12,2012-01-01 01:00:00,Adversity,Std,110,33.483,AdversityStd
13,2012-01-01 01:00:00,Adversity,ToU,15,4.675,AdversityToU
14,2012-01-01 01:00:00,Affluent,Std,143,46.074,AffluentStd
15,2012-01-01 01:00:00,Affluent,ToU,24,5.682,AffluentToU
16,2012-01-01 01:00:00,Comfortable,Std,97,16.335,ComfortableStd
17,2012-01-01 01:00:00,Comfortable,ToU,17,2.782,ComfortableToU
24,2012-01-01 02:00:00,Adversity,Std,110,26.101,AdversityStd
25,2012-01-01 02:00:00,Adversity,ToU,15,3.668,AdversityToU
26,2012-01-01 02:00:00,Affluent,Std,143,41.999,AffluentStd
27,2012-01-01 02:00:00,Affluent,ToU,24,4.649,AffluentToU
28,2012-01-01 02:00:00,Comfortable,Std,97,13.745,ComfortableStd
29,2012-01-01 02:00:00,Comfortable,ToU,17,2.504,ComfortableToU

In [53]:
df_hourly['total_energy'] = energy

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [54]:
df_hourly['energy'] = df_hourly['total_energy']/df_hourly['LCLid']

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [55]:
df_hourly.drop(['total_energy', 'LCLid'],axis=1, inplace=True)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [57]:
df_hourly.drop(['concat'], axis=1, inplace=True)

/opt/rh/anaconda/root/envs/PUI2016_Python2/lib/python2.7/site-packages/ipykernel/__main__.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  if __name__ == '__main__':

In [41]:
df_hourly = df_hourly.groupby(['DateTime', 'concat']).sum()

In [58]:
df_hourly.head(24)

              DateTime Acorn_grouped stdorToU    energy
12 2012-01-01 01:00:00     Adversity      Std  0.613391
13 2012-01-01 01:00:00     Adversity      ToU  0.638933
14 2012-01-01 01:00:00      Affluent      Std  0.664042
15 2012-01-01 01:00:00      Affluent      ToU  0.450208
16 2012-01-01 01:00:00   Comfortable      Std  0.355763
17 2012-01-01 01:00:00   Comfortable      ToU  0.353647
24 2012-01-01 02:00:00     Adversity      Std  0.486664
25 2012-01-01 02:00:00     Adversity      ToU  0.464267
26 2012-01-01 02:00:00      Affluent      Std  0.598343
27 2012-01-01 02:00:00      Affluent      ToU  0.401375
28 2012-01-01 02:00:00   Comfortable      Std  0.295082
29 2012-01-01 02:00:00   Comfortable      ToU  0.305294
36 2012-01-01 03:00:00     Adversity      Std  0.352509
37 2012-01-01 03:00:00     Adversity      ToU  0.545067
38 2012-01-01 03:00:00      Affluent      Std  0.516853
39 2012-01-01 03:00:00      Affluent      ToU  0.323167
40 2012-01-01 03:00:00   Comfortable      Std  0.225072
41 2012-01-01 03:00:00   Comfortable      ToU  0.299882
48 2012-01-01 04:00:00     Adversity      Std  0.313336
49 2012-01-01 04:00:00     Adversity      ToU  0.410000
50 2012-01-01 04:00:00      Affluent      Std  0.382392
51 2012-01-01 04:00:00      Affluent      ToU  0.343542
52 2012-01-01 04:00:00   Comfortable      Std  0.194742
53 2012-01-01 04:00:00   Comfortable      ToU  0.270588

In [59]:
# make sure to give the output file the right name
output = '../Final_Data/stdToU.csv'

df_hourly.to_csv(output)