In [19]:
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import os
import csv
import seaborn
import statsmodels.formula.api as smf
import scipy.stats
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [17]:
data = pd.read_csv('../Final_Data/final1213.csv', parse_dates=[0], infer_datetime_format=True)

In [48]:
low_list = [0,1,2,3,4,5,8]
medium_list = [0,1,2,3,4,7,8]
high_list = [0,1,2,3,4,6,8]
Low = data.iloc[:,low_list]
Medium = data.iloc[:,medium_list]
High = data.iloc[:,high_list]

In [50]:
Low = Low.rename(columns = {'Low_Income':'Consumption'})
Medium = Medium.rename(columns = {'Middle_Income':'Consumption'})
High = High.rename(columns = {'High_Income':'Consumption'})

In [51]:
Low.insert(6, "Income", "Low")
Medium.insert(6, "Income", "Medium")
High.insert(6, "Income", "High")

In [78]:
import pandasql as ps # pip install pandasql

In [85]:
q = 'select * from High union select * from Medium union select * from Low'
data = ps.sqldf(q, globals())

In [89]:
Consumption = data.Consumption.astype(float)
Overall = data.Overall.astype(float)
Diff = Consumption - Overall

In [94]:
data['Diff'] = Diff
data['Diff_perc'] = data.Diff/data.Overall

In [95]:
data.head()

,Datetime,Dew_Point_F,Humidity,Temperature_F,Wind_Speed_MPH,Consumption,Income,Overall,Diff,Diff_perc
0,2012-01-01 00:00:00.000000,50.0,88,53.6,13.8,0.190114,Medium,0.231749,-0.041635,-0.179655
1,2012-01-01 00:00:00.000000,50.0,88,53.6,13.8,0.221192,Low,0.231749,-0.010557,-0.045553
2,2012-01-01 00:00:00.000000,50.0,88,53.6,13.8,0.268072,High,0.231749,0.036323,0.156735
3,2012-01-01 01:00:00.000000,50.0,88,53.6,15.0,0.355447,Medium,0.550101,-0.194654,-0.353851
4,2012-01-01 01:00:00.000000,50.0,88,53.6,15.0,0.616456,Low,0.550101,0.066355,0.120623

In [96]:
data.to_csv('../Final_Data/final1213_reshaped.csv')