In [1]:
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import os
import csv
import seaborn
import statsmodels.formula.api as smf
import scipy.stats
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

## Getting the data

In [41]:
weather = pd.read_csv('../Final_Data/London_weather_data_2011_2014.csv', parse_dates=[1], infer_datetime_format=True)

weather['Wind_Speed_MPH'] = pd.to_numeric(weather.Wind_Speed_MPH, errors='coerce')
weather.drop('Unnamed: 0', axis=1, inplace=True)

weather.rename(columns = {'Datetime':'DateTime'}, inplace=True)

weather.head()

             DateTime  Dew_Point_F  Humidity  Temperature_F  Wind_Speed_MPH
0 2011-11-01 01:00:00         51.8      88.0           55.4             6.9
1 2011-11-01 02:00:00         53.6      94.0           55.4             8.1
2 2011-11-01 03:00:00         53.6      88.0           57.2             9.2
3 2011-11-01 04:00:00         53.6      88.0           57.2             9.2
4 2011-11-01 05:00:00         53.6      88.0           57.2             8.1

In [42]:
weather.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20378 entries, 0 to 20377
Data columns (total 5 columns):
DateTime          20378 non-null datetime64[ns]
Dew_Point_F       20378 non-null float64
Humidity          20378 non-null float64
Temperature_F     20378 non-null float64
Wind_Speed_MPH    20144 non-null float64
dtypes: datetime64[ns](1), float64(4)
memory usage: 796.1 KB

## Getting Energy Data

In [37]:
energy = pd.read_csv('../Final_Data/stdToU.csv', parse_dates=[1], infer_datetime_format=True)

energy.drop('Unnamed: 0', axis=1, inplace=True)

energy.rename(columns={'Acorn_grouped' : 'Income' , 'energy' : 'Consumption' }, inplace=True)

energy.head()

             DateTime       Income stdorToU  Consumption
0 2012-01-01 01:00:00    Adversity      Std     0.613391
1 2012-01-01 01:00:00    Adversity      ToU     0.638933
2 2012-01-01 01:00:00     Affluent      Std     0.664042
3 2012-01-01 01:00:00     Affluent      ToU     0.450208
4 2012-01-01 01:00:00  Comfortable      Std     0.355763

In [39]:
energy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 105258 entries, 0 to 105257
Data columns (total 4 columns):
DateTime       105258 non-null datetime64[ns]
Income         105258 non-null object
stdorToU       105258 non-null object
Consumption    105258 non-null float64
dtypes: datetime64[ns](1), float64(1), object(2)
memory usage: 3.2+ MB

## Merging the data

In [43]:
data = pd.merge(weather, energy, on='DateTime')
data.head()

,DateTime,Dew_Point_F,Humidity,Temperature_F,Wind_Speed_MPH,Income,stdorToU,Consumption
0,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Adversity,Std,0.613391
1,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Adversity,ToU,0.638933
2,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Affluent,Std,0.664042
3,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Affluent,ToU,0.450208
4,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Comfortable,Std,0.355763

In [21]:
# low_list = [0,1,2,3,4,5,8]
# medium_list = [0,1,2,3,4,7,8]
# high_list = [0,1,2,3,4,6,8]
# Low = data.iloc[:,low_list]
# Medium = data.iloc[:,medium_list]
# High = data.iloc[:,high_list]

In [9]:
# Low = Low.rename(columns = {'Low_Income':'Consumption'})
# Medium = Medium.rename(columns = {'Middle_Income':'Consumption'})
# High = High.rename(columns = {'High_Income':'Consumption'})

In [10]:
# Low.insert(6, "Income", 1)
# Medium.insert(6, "Income", 2)
# High.insert(6, "Income", 3)

In [44]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 105018 entries, 0 to 105017
Data columns (total 8 columns):
DateTime          105018 non-null datetime64[ns]
Dew_Point_F       105018 non-null float64
Humidity          105018 non-null float64
Temperature_F     105018 non-null float64
Wind_Speed_MPH    103752 non-null float64
Income            105018 non-null object
stdorToU          105018 non-null object
Consumption       105018 non-null float64
dtypes: datetime64[ns](1), float64(5), object(2)
memory usage: 7.2+ MB

In [ ]:
#import pandasql as ps # pip install pandasql

In [25]:
# q = 'select * from High union select * from Medium union select * from Low'
# data = ps.sqldf(q, globals())

In [17]:
# data.Consumption = data.Consumption.astype(float)
# data.Overall = data.Overall.astype(float)
# Diff = Consumption - Overall

In [18]:
# data['Diff'] = Diff
# data['Diff_perc'] = data.Diff/data.Overall

In [45]:
# reshaped = pd.concat([Low, Medium, High], axis=0)
# reshaped.sort_values(by=['Datetime', 'Income'], inplace=True)
reshaped = data
reshaped.head()

,DateTime,Dew_Point_F,Humidity,Temperature_F,Wind_Speed_MPH,Income,stdorToU,Consumption
0,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Adversity,Std,0.613391
1,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Adversity,ToU,0.638933
2,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Affluent,Std,0.664042
3,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Affluent,ToU,0.450208
4,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Comfortable,Std,0.355763

In [29]:
import datetime

In [46]:
#reshaped["DateTime"] = reshaped["DateTime"].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))

In [47]:
reshaped["Month"] = reshaped["DateTime"].dt.month
reshaped["DayofWeek"] = reshaped["DateTime"].dt.dayofweek
reshaped["Hour"] = reshaped["DateTime"].dt.hour
reshaped["WeekofYear"] = reshaped["DateTime"].dt.weekofyear
reshaped["Year"] = reshaped["DateTime"].dt.year

In [48]:

reshaped.to_csv('../Final_Data/final1213_reshaped_v3.csv')

In [49]:
reshaped.head()

,DateTime,Dew_Point_F,Humidity,Temperature_F,Wind_Speed_MPH,Income,stdorToU,Consumption,Month,DayofWeek,Hour,WeekofYear,Year
0,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Adversity,Std,0.613391,1,6,1,52,2012
1,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Adversity,ToU,0.638933,1,6,1,52,2012
2,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Affluent,Std,0.664042,1,6,1,52,2012
3,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Affluent,ToU,0.450208,1,6,1,52,2012
4,2012-01-01 01:00:00,50.0,88.0,53.6,15.0,Comfortable,Std,0.355763,1,6,1,52,2012