In [1]:
from __future__ import print_function, division
import pandas as pd
import pylab as pl
import os
import csv
import seaborn
import statsmodels.formula.api as smf
import scipy.stats
import numpy as np
%pylab inline

Populating the interactive namespace from numpy and matplotlib

In [2]:
data = pd.read_csv('../Final_Data/final1213.csv', parse_dates=["Datetime"])

In [5]:
data.head()

,Datetime,Dew_Point_F,Humidity,Temperature_F,Wind_Speed_MPH,Low_Income,High_Income,Middle_Income,Overall
0,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.221192,0.268072,0.190114,0.231749
1,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.616456,0.633311,0.355447,0.550101
2,2012-01-01 02:00:00,51.8,94,53.6,13.8,0.483976,0.570036,0.296605,0.466764
3,2012-01-01 03:00:00,51.0,92,53.0,13.8,0.375616,0.489018,0.236228,0.383123
4,2012-01-01 04:00:00,50.0,88,53.6,10.4,0.324936,0.376808,0.206053,0.312892

In [3]:
low_list = [0,1,2,3,4,5,8]
medium_list = [0,1,2,3,4,7,8]
high_list = [0,1,2,3,4,6,8]
Low = data.iloc[:,low_list]
Medium = data.iloc[:,medium_list]
High = data.iloc[:,high_list]

In [4]:
Low = Low.rename(columns = {'Low_Income':'Consumption'})
Medium = Medium.rename(columns = {'Middle_Income':'Consumption'})
High = High.rename(columns = {'High_Income':'Consumption'})

In [6]:
Low.insert(6, "Income", 1)
Medium.insert(6, "Income", 2)
High.insert(6, "Income", 3)

In [16]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17504 entries, 0 to 17503
Data columns (total 9 columns):
Datetime          17504 non-null datetime64[ns]
Dew_Point_F       17504 non-null float64
Humidity          17504 non-null int64
Temperature_F     17504 non-null float64
Wind_Speed_MPH    17293 non-null float64
Low_Income        17504 non-null float64
High_Income       17504 non-null float64
Middle_Income     17504 non-null float64
Overall           17504 non-null float64
dtypes: datetime64[ns](1), float64(7), int64(1)
memory usage: 1.2 MB

In [ ]:
#import pandasql as ps # pip install pandasql

In [25]:
# q = 'select * from High union select * from Medium union select * from Low'
# data = ps.sqldf(q, globals())

In [17]:
# data.Consumption = data.Consumption.astype(float)
# data.Overall = data.Overall.astype(float)
# Diff = Consumption - Overall

In [18]:
# data['Diff'] = Diff
# data['Diff_perc'] = data.Diff/data.Overall

In [22]:
reshaped = pd.concat([Low, Medium, High], axis=0)
reshaped.sort_values(by=['Datetime', 'Income'], inplace=True)
reshaped.head()

,Datetime,Dew_Point_F,Humidity,Temperature_F,Wind_Speed_MPH,Consumption,Income,Overall
0,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.221192,1,0.231749
0,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.190114,2,0.231749
0,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.268072,3,0.231749
1,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.616456,1,0.550101
1,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.355447,2,0.550101

In [23]:
import datetime

In [25]:
#data["Datetime"] = data["Datetime"].apply(lambda x:datetime.datetime.strptime(x, '%Y-%m-%d %H:%M:%S.%f'))

In [31]:
reshaped["Month"] = reshaped["Datetime"].dt.month
reshaped["DayofWeek"] = reshaped["Datetime"].dt.dayofweek
reshaped["Hour"] = reshaped["Datetime"].dt.hour
reshaped["WeekofYear"] = reshaped["Datetime"].dt.weekofyear
reshaped["Year"] = reshaped["Datetime"].dt.year

In [32]:

reshaped.to_csv('../Final_Data/final1213_reshaped_v2.csv')

In [33]:
reshaped.head()

,Datetime,Dew_Point_F,Humidity,Temperature_F,Wind_Speed_MPH,Consumption,Income,Overall,Month,DayofWeek,Hour,WeekofYear,Year
0,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.221192,1,0.231749,1,6,0,52,2012
0,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.190114,2,0.231749,1,6,0,52,2012
0,2012-01-01 00:00:00,50.0,88,53.6,13.8,0.268072,3,0.231749,1,6,0,52,2012
1,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.616456,1,0.550101,1,6,1,52,2012
1,2012-01-01 01:00:00,50.0,88,53.6,15.0,0.355447,2,0.550101,1,6,1,52,2012